.mention[rel~=contact] {
	color: var(--mention,#4db09b);
}
.mention[rel~=contact]:hover {
	color: var(--mention-hover,#56ebaf);
}
.mention[rel~=contact]:active {
	color: var(--mention-active,#83ffd5);
}
pre.ellipsis {
	display: inline;
	text-shadow: none;
	color: var(--r-secondary,#c30c70);
}
.hashtag[rel~=tag] {
	color: var(--hashtag,#aecadf);
}
.hashtag[rel~=tag]:hover {
	color: var(--hashtag-hover,#cae6fb);
}
.hashtag[rel~=tag]:active {
	color: var(--hashtag-active,#6f97d7);
}
.topic {

}
