
@media screen and (min-width: 821px) {
  .root, .root .item { --cols: 2; --maxvp: 2248px; }
	.m9by2 { --l: 4; }
	.m16by5 { --l: 6; }
	.m3by1 { --l: 6; }
	.m8by3 { --l: 7; }
	.m21by9 { --l: 8; }
	.m16by7 { --l: 8; }
	.m37by20 { --l: 10; }
	.m16by9 { --l: 10; }
	.m16by10 { --l: 12; }
	.m3by2 { --l: 13; }
	.m4by3 { --l: 14; }
	.m5by4 { --l: 15; }
	.m7by6 { --l: 16; }
	.m1by1 { --l: 19; }
	.m6by7 { --l: 22; }
	.m4by5 { --l: 24; }
	.m3by4 { --l: 26; }
	.m2by3 { --l: 29; }
	.m9by16 { --l: 34; }
}
@media screen and (min-width: 833px) {
	.m9by16 { --l: 35; }
}
@media screen and (min-width: 835px) {
	.m2by3 { --l: 30; }
}
@media screen and (min-width: 837px) {
	.m3by4 { --l: 27; }
}
@media screen and (min-width: 838px) {
	.m4by5 { --l: 25; }
}
@media screen and (min-width: 839px) {
	.m6by7 { --l: 23; }
}
@media screen and (min-width: 842px) {
	.m1by1 { --l: 20; }
}
@media screen and (min-width: 846px) {
	.m7by6 { --l: 17; }
}
@media screen and (min-width: 848px) {
	.m5by4 { --l: 16; }
}
@media screen and (min-width: 849px) {
	.m4by3 { --l: 15; }
}
@media screen and (min-width: 853px) {
	.m3by2 { --l: 14; }
}
@media screen and (min-width: 855px) {
	.m16by10 { --l: 13; }
}
@media screen and (min-width: 857px) {
	.m9by16 { --l: 36; }
}
@media screen and (min-width: 859px) {
	.m16by9 { --l: 11; }
}
@media screen and (min-width: 860px) {
	.m37by20 { --l: 11; }
}
@media screen and (min-width: 863px) {
	.m2by3 { --l: 31; }
}
@media screen and (min-width: 869px) {
	.m16by7 { --l: 9; }
	.m3by4 { --l: 28; }
}
@media screen and (min-width: 870px) {
	.m21by9 { --l: 9; }
}
@media screen and (min-width: 872px) {
	.m4by5 { --l: 26; }
}
@media screen and (min-width: 875px) {
	.m6by7 { --l: 24; }
}
@media screen and (min-width: 877px) {
	.m8by3 { --l: 8; }
}
@media screen and (min-width: 881px) {
	.m9by16 { --l: 37; }
}
@media screen and (min-width: 884px) {
	.m3by1 { --l: 7; }
	.m1by1 { --l: 21; }
}
@media screen and (min-width: 889px) {
	.m16by5 { --l: 7; }
}
@media screen and (min-width: 891px) {
	.m2by3 { --l: 32; }
}
@media screen and (min-width: 895px) {
	.m7by6 { --l: 18; }
}
@media screen and (min-width: 900px) {
	.m5by4 { --l: 17; }
	.m3by4 { --l: 29; }
}
@media screen and (min-width: 904px) {
	.m9by16 { --l: 38; }
}
@media screen and (min-width: 905px) {
	.m4by3 { --l: 16; }
	.m4by5 { --l: 27; }
}
@media screen and (min-width: 911px) {
	.m6by7 { --l: 25; }
}
@media screen and (min-width: 916px) {
	.m9by2 { --l: 5; }
	.m3by2 { --l: 15; }
}
@media screen and (min-width: 919px) {
	.m2by3 { --l: 33; }
}
@media screen and (min-width: 922px) {
	.m16by10 { --l: 14; }
}
@media screen and (min-width: 926px) {
	.m1by1 { --l: 22; }
}
@media screen and (min-width: 928px) {
	.m9by16 { --l: 39; }
}
@media screen and (min-width: 932px) {
	.m3by4 { --l: 30; }
}
@media screen and (min-width: 933px) {
	.m16by9 { --l: 12; }
}
@media screen and (min-width: 938px) {
	.m37by20 { --l: 12; }
}
@media screen and (min-width: 939px) {
	.m4by5 { --l: 28; }
}
@media screen and (min-width: 944px) {
	.m7by6 { --l: 19; }
}
@media screen and (min-width: 947px) {
	.m6by7 { --l: 26; }
	.m2by3 { --l: 34; }
}
@media screen and (min-width: 951px) {
	.m9by16 { --l: 40; }
}
@media screen and (min-width: 953px) {
	.m5by4 { --l: 18; }
}
@media screen and (min-width: 961px) {
	.m4by3 { --l: 17; }
}
@media screen and (min-width: 963px) {
	.m3by4 { --l: 31; }
}
@media screen and (min-width: 965px) {
	.m16by7 { --l: 10; }
}
@media screen and (min-width: 968px) {
	.m21by9 { --l: 10; }
	.m1by1 { --l: 23; }
}
@media screen and (min-width: 973px) {
	.m4by5 { --l: 29; }
}
@media screen and (min-width: 975px) {
	.m2by3 { --l: 35; }
	.m9by16 { --l: 41; }
}
@media screen and (min-width: 979px) {
	.m3by2 { --l: 16; }
}
@media screen and (min-width: 983px) {
	.m6by7 { --l: 27; }
}
@media screen and (min-width: 989px) {
	.m8by3 { --l: 9; }
	.m16by10 { --l: 15; }
}
@media screen and (min-width: 993px) {
	.m7by6 { --l: 20; }
}
@media screen and (min-width: 995px) {
	.m3by4 { --l: 32; }
}
@media screen and (min-width: 999px) {
	.m9by16 { --l: 42; }
}
@media screen and (min-width: 1003px) {
	.m2by3 { --l: 36; }
}
@media screen and (min-width: 1005px) {
	.m5by4 { --l: 19; }
}
@media screen and (min-width: 1006px) {
	.m4by5 { --l: 30; }
}
@media screen and (min-width: 1008px) {
	.m16by9 { --l: 13; }
}
@media screen and (min-width: 1010px) {
	.m3by1 { --l: 8; }
	.m1by1 { --l: 24; }
}
@media screen and (min-width: 1016px) {
	.m37by20 { --l: 13; }
}
@media screen and (min-width: 1017px) {
	.m4by3 { --l: 18; }
}
@media screen and (min-width: 1019px) {
	.m6by7 { --l: 28; }
}
@media screen and (min-width: 1022px) {
	.m9by16 { --l: 43; }
}
@media screen and (min-width: 1023px) {
	.m16by5 { --l: 8; }
}
@media screen and (min-width: 1026px) {
	.m3by4 { --l: 33; }
}
@media screen and (min-width: 1031px) {
	.m2by3 { --l: 37; }
}
@media screen and (min-width: 1040px) {
	.m4by5 { --l: 31; }
}
@media screen and (min-width: 1042px) {
	.m3by2 { --l: 17; }
	.m7by6 { --l: 21; }
}
@media screen and (min-width: 1046px) {
	.m9by16 { --l: 44; }
}
@media screen and (min-width: 1052px) {
	.m1by1 { --l: 25; }
}
@media screen and (min-width: 1055px) {
	.m6by7 { --l: 29; }
}
@media screen and (min-width: 1057px) {
	.m16by10 { --l: 16; }
}
@media screen and (min-width: 1058px) {
	.m5by4 { --l: 20; }
	.m3by4 { --l: 34; }
}
@media screen and (min-width: 1059px) {
	.m2by3 { --l: 38; }
}
@media screen and (min-width: 1061px) {
	.m16by7 { --l: 11; }
}
@media screen and (min-width: 1066px) {
	.m21by9 { --l: 11; }
}
@media screen and (min-width: 1070px) {
	.m9by16 { --l: 45; }
}
@media screen and (min-width: 1073px) {
	.m4by3 { --l: 19; }
	.m4by5 { --l: 32; }
}
@media screen and (min-width: 1083px) {
	.m16by9 { --l: 14; }
}
@media screen and (min-width: 1087px) {
	.m2by3 { --l: 39; }
}
@media screen and (min-width: 1089px) {
	.m3by4 { --l: 35; }
}
@media screen and (min-width: 1091px) {
	.m7by6 { --l: 22; }
	.m6by7 { --l: 30; }
}
@media screen and (min-width: 1093px) {
	.m37by20 { --l: 14; }
	.m9by16 { --l: 46; }
}
@media screen and (min-width: 1094px) {
	.m1by1 { --l: 26; }
}
@media screen and (min-width: 1101px) {
	.m8by3 { --l: 10; }
}
@media screen and (min-width: 1105px) {
	.m9by2 { --l: 6; }
	.m3by2 { --l: 18; }
}
@media screen and (min-width: 1107px) {
	.m4by5 { --l: 33; }
}
@media screen and (min-width: 1110px) {
	.m5by4 { --l: 21; }
}
@media screen and (min-width: 1115px) {
	.m2by3 { --l: 40; }
}
@media screen and (min-width: 1117px) {
	.m9by16 { --l: 47; }
}
@media screen and (min-width: 1121px) {
	.m3by4 { --l: 36; }
}
@media screen and (min-width: 1124px) {
	.m16by10 { --l: 17; }
}
@media screen and (min-width: 1127px) {
	.m6by7 { --l: 31; }
}
@media screen and (min-width: 1129px) {
	.m4by3 { --l: 20; }
}
@media screen and (min-width: 1136px) {
	.m3by1 { --l: 9; }
	.m1by1 { --l: 27; }
}
@media screen and (min-width: 1140px) {
	.m7by6 { --l: 23; }
	.m9by16 { --l: 48; }
}
@media screen and (min-width: 1141px) {
	.m4by5 { --l: 34; }
}
@media screen and (min-width: 1143px) {
	.m2by3 { --l: 41; }
}
@media screen and (min-width: 1152px) {
	.m3by4 { --l: 37; }
}
@media screen and (min-width: 1157px) {
	.m16by5 { --l: 9; }
	.m16by7 { --l: 12; }
	.m16by9 { --l: 15; }
}
@media screen and (min-width: 1163px) {
	.m5by4 { --l: 22; }
	.m6by7 { --l: 32; }
}
@media screen and (min-width: 1164px) {
	.m21by9 { --l: 12; }
	.m9by16 { --l: 49; }
}
@media screen and (min-width: 1168px) {
	.m3by2 { --l: 19; }
}
@media screen and (min-width: 1171px) {
	.m37by20 { --l: 15; }
	.m2by3 { --l: 42; }
}
@media screen and (min-width: 1174px) {
	.m4by5 { --l: 35; }
}
@media screen and (min-width: 1178px) {
	.m1by1 { --l: 28; }
}
@media screen and (min-width: 1184px) {
	.m3by4 { --l: 38; }
}
@media screen and (min-width: 1185px) {
	.m4by3 { --l: 21; }
}
@media screen and (min-width: 1188px) {
	.m9by16 { --l: 50; }
}
@media screen and (min-width: 1189px) {
	.m7by6 { --l: 24; }
}
@media screen and (min-width: 1191px) {
	.m16by10 { --l: 18; }
}
@media screen and (min-width: 1199px) {
	.m6by7 { --l: 33; }
	.m2by3 { --l: 43; }
}
@media screen and (min-width: 1208px) {
	.m4by5 { --l: 36; }
}
@media screen and (min-width: 1211px) {
	.m9by16 { --l: 51; }
}
@media screen and (min-width: 1213px) {
	.m8by3 { --l: 11; }
}
@media screen and (min-width: 1215px) {
	.m5by4 { --l: 23; }
	.m3by4 { --l: 39; }
}
@media screen and (min-width: 1220px) {
	.m1by1 { --l: 29; }
}
@media screen and (min-width: 1221px) {
  .root, .root .item { --cols: 3; }
	.m9by2 { --l: 4; }
	.m16by5 { --l: 6; }
	.m3by1 { --l: 6; }
	.m8by3 { --l: 7; }
	.m21by9 { --l: 8; }
	.m16by7 { --l: 8; }
	.m37by20 { --l: 10; }
	.m16by9 { --l: 10; }
	.m16by10 { --l: 12; }
	.m3by2 { --l: 12; }
	.m4by3 { --l: 14; }
	.m5by4 { --l: 15; }
	.m7by6 { --l: 16; }
	.m1by1 { --l: 19; }
	.m6by7 { --l: 22; }
	.m4by5 { --l: 24; }
	.m3by4 { --l: 25; }
	.m2by3 { --l: 29; }
	.m9by16 { --l: 34; }
}
@media screen and (min-width: 1239px) {
	.m9by16 { --l: 35; }
}
@media screen and (min-width: 1242px) {
	.m2by3 { --l: 30; }
}
@media screen and (min-width: 1245px) {
	.m3by4 { --l: 26; }
}
@media screen and (min-width: 1247px) {
	.m4by5 { --l: 25; }
}
@media screen and (min-width: 1248px) {
	.m6by7 { --l: 23; }
}
@media screen and (min-width: 1253px) {
	.m1by1 { --l: 20; }
}
@media screen and (min-width: 1258px) {
	.m7by6 { --l: 17; }
}
@media screen and (min-width: 1261px) {
	.m5by4 { --l: 16; }
}
@media screen and (min-width: 1263px) {
	.m4by3 { --l: 15; }
}
@media screen and (min-width: 1269px) {
	.m3by2 { --l: 13; }
}
@media screen and (min-width: 1272px) {
	.m16by10 { --l: 13; }
}
@media screen and (min-width: 1275px) {
	.m9by16 { --l: 36; }
}
@media screen and (min-width: 1277px) {
	.m16by9 { --l: 11; }
}
@media screen and (min-width: 1280px) {
	.m37by20 { --l: 11; }
}
@media screen and (min-width: 1284px) {
	.m2by3 { --l: 31; }
}
@media screen and (min-width: 1292px) {
	.m3by4 { --l: 27; }
}
@media screen and (min-width: 1293px) {
	.m16by7 { --l: 9; }
}
@media screen and (min-width: 1295px) {
	.m21by9 { --l: 9; }
}
@media screen and (min-width: 1297px) {
	.m4by5 { --l: 26; }
}
@media screen and (min-width: 1302px) {
	.m6by7 { --l: 24; }
}
@media screen and (min-width: 1305px) {
	.m8by3 { --l: 8; }
}
@media screen and (min-width: 1310px) {
	.m9by16 { --l: 37; }
}
@media screen and (min-width: 1316px) {
	.m3by1 { --l: 7; }
	.m1by1 { --l: 21; }
}
@media screen and (min-width: 1322px) {
	.m16by5 { --l: 7; }
}
@media screen and (min-width: 1326px) {
	.m2by3 { --l: 32; }
}
@media screen and (min-width: 1332px) {
	.m7by6 { --l: 18; }
}
@media screen and (min-width: 1340px) {
	.m5by4 { --l: 17; }
	.m3by4 { --l: 28; }
}
@media screen and (min-width: 1346px) {
	.m9by16 { --l: 38; }
}
@media screen and (min-width: 1347px) {
	.m4by3 { --l: 16; }
	.m4by5 { --l: 27; }
}
@media screen and (min-width: 1356px) {
	.m6by7 { --l: 25; }
}
@media screen and (min-width: 1363px) {
	.m9by2 { --l: 5; }
	.m3by2 { --l: 14; }
}
@media screen and (min-width: 1368px) {
	.m2by3 { --l: 33; }
}
@media screen and (min-width: 1373px) {
	.m16by10 { --l: 14; }
}
@media screen and (min-width: 1379px) {
	.m1by1 { --l: 22; }
}
@media screen and (min-width: 1381px) {
	.m9by16 { --l: 39; }
}
@media screen and (min-width: 1387px) {
	.m3by4 { --l: 29; }
}
@media screen and (min-width: 1389px) {
	.m16by9 { --l: 12; }
}
@media screen and (min-width: 1396px) {
	.m37by20 { --l: 12; }
}
@media screen and (min-width: 1398px) {
	.m4by5 { --l: 28; }
}
@media screen and (min-width: 1405px) {
	.m7by6 { --l: 19; }
}
@media screen and (min-width: 1410px) {
	.m6by7 { --l: 26; }
	.m2by3 { --l: 34; }
}
@media screen and (min-width: 1416px) {
	.m9by16 { --l: 40; }
}
@media screen and (min-width: 1418px) {
	.m5by4 { --l: 18; }
}
@media screen and (min-width: 1431px) {
	.m4by3 { --l: 17; }
}
@media screen and (min-width: 1434px) {
	.m3by4 { --l: 30; }
}
@media screen and (min-width: 1437px) {
	.m16by7 { --l: 10; }
}
@media screen and (min-width: 1442px) {
	.m21by9 { --l: 10; }
	.m1by1 { --l: 23; }
}
@media screen and (min-width: 1448px) {
	.m4by5 { --l: 29; }
}
@media screen and (min-width: 1452px) {
	.m2by3 { --l: 35; }
	.m9by16 { --l: 41; }
}
@media screen and (min-width: 1458px) {
	.m3by2 { --l: 15; }
}
@media screen and (min-width: 1464px) {
	.m6by7 { --l: 27; }
}
@media screen and (min-width: 1473px) {
	.m8by3 { --l: 9; }
	.m16by10 { --l: 15; }
}
@media screen and (min-width: 1479px) {
	.m7by6 { --l: 20; }
}
@media screen and (min-width: 1481px) {
	.m3by4 { --l: 31; }
}
@media screen and (min-width: 1487px) {
	.m9by16 { --l: 42; }
}
@media screen and (min-width: 1494px) {
	.m2by3 { --l: 36; }
}
@media screen and (min-width: 1497px) {
	.m5by4 { --l: 19; }
}
@media screen and (min-width: 1499px) {
	.m4by5 { --l: 30; }
}
@media screen and (min-width: 1501px) {
	.m16by9 { --l: 13; }
}
@media screen and (min-width: 1505px) {
	.m3by1 { --l: 8; }
	.m1by1 { --l: 24; }
}
@media screen and (min-width: 1513px) {
	.m37by20 { --l: 13; }
}
@media screen and (min-width: 1515px) {
	.m4by3 { --l: 18; }
}
@media screen and (min-width: 1518px) {
	.m6by7 { --l: 28; }
}
@media screen and (min-width: 1523px) {
	.m9by16 { --l: 43; }
}
@media screen and (min-width: 1524px) {
	.m16by5 { --l: 8; }
}
@media screen and (min-width: 1529px) {
	.m3by4 { --l: 32; }
}
@media screen and (min-width: 1536px) {
	.m2by3 { --l: 37; }
}
@media screen and (min-width: 1549px) {
	.m4by5 { --l: 31; }
}
@media screen and (min-width: 1552px) {
	.m3by2 { --l: 16; }
	.m7by6 { --l: 21; }
}
@media screen and (min-width: 1558px) {
	.m9by16 { --l: 44; }
}
@media screen and (min-width: 1568px) {
	.m1by1 { --l: 25; }
}
@media screen and (min-width: 1572px) {
	.m6by7 { --l: 29; }
}
@media screen and (min-width: 1574px) {
	.m16by10 { --l: 16; }
}
@media screen and (min-width: 1576px) {
	.m5by4 { --l: 20; }
	.m3by4 { --l: 33; }
}
@media screen and (min-width: 1578px) {
	.m2by3 { --l: 38; }
}
@media screen and (min-width: 1581px) {
	.m16by7 { --l: 11; }
}
@media screen and (min-width: 1589px) {
	.m21by9 { --l: 11; }
}
@media screen and (min-width: 1594px) {
	.m9by16 { --l: 45; }
}
@media screen and (min-width: 1599px) {
	.m4by3 { --l: 19; }
	.m4by5 { --l: 32; }
}
@media screen and (min-width: 1613px) {
	.m16by9 { --l: 14; }
}
@media screen and (min-width: 1620px) {
	.m2by3 { --l: 39; }
}
@media screen and (min-width: 1621px) {
  .root, .root .item { --cols: 4; }
	.m9by2 { --l: 4; }
	.m16by5 { --l: 6; }
	.m3by1 { --l: 6; }
	.m8by3 { --l: 7; }
	.m21by9 { --l: 8; }
	.m16by7 { --l: 8; }
	.m37by20 { --l: 10; }
	.m16by9 { --l: 10; }
	.m16by10 { --l: 12; }
	.m3by2 { --l: 12; }
	.m4by3 { --l: 14; }
	.m5by4 { --l: 15; }
	.m7by6 { --l: 16; }
	.m1by1 { --l: 19; }
	.m6by7 { --l: 22; }
	.m4by5 { --l: 24; }
	.m3by4 { --l: 25; }
	.m2by3 { --l: 28; }
	.m9by16 { --l: 34; }
}
@media screen and (min-width: 1645px) {
	.m9by16 { --l: 35; }
}
@media screen and (min-width: 1649px) {
	.m2by3 { --l: 29; }
}
@media screen and (min-width: 1653px) {
	.m3by4 { --l: 26; }
}
@media screen and (min-width: 1655px) {
	.m4by5 { --l: 25; }
}
@media screen and (min-width: 1657px) {
	.m6by7 { --l: 23; }
}
@media screen and (min-width: 1663px) {
	.m1by1 { --l: 20; }
}
@media screen and (min-width: 1670px) {
	.m7by6 { --l: 17; }
}
@media screen and (min-width: 1674px) {
	.m5by4 { --l: 16; }
}
@media screen and (min-width: 1677px) {
	.m4by3 { --l: 15; }
}
@media screen and (min-width: 1684px) {
	.m3by2 { --l: 13; }
}
@media screen and (min-width: 1689px) {
	.m16by10 { --l: 13; }
}
@media screen and (min-width: 1692px) {
	.m9by16 { --l: 36; }
}
@media screen and (min-width: 1696px) {
	.m16by9 { --l: 11; }
}
@media screen and (min-width: 1699px) {
	.m37by20 { --l: 11; }
}
@media screen and (min-width: 1705px) {
	.m2by3 { --l: 30; }
}
@media screen and (min-width: 1716px) {
	.m3by4 { --l: 27; }
}
@media screen and (min-width: 1717px) {
	.m16by7 { --l: 9; }
}
@media screen and (min-width: 1719px) {
	.m21by9 { --l: 9; }
}
@media screen and (min-width: 1722px) {
	.m4by5 { --l: 26; }
}
@media screen and (min-width: 1729px) {
	.m6by7 { --l: 24; }
}
@media screen and (min-width: 1733px) {
	.m8by3 { --l: 8; }
}
@media screen and (min-width: 1740px) {
	.m9by16 { --l: 37; }
}
@media screen and (min-width: 1747px) {
	.m3by1 { --l: 7; }
	.m1by1 { --l: 21; }
}
@media screen and (min-width: 1756px) {
	.m16by5 { --l: 7; }
}
@media screen and (min-width: 1761px) {
	.m2by3 { --l: 31; }
}
@media screen and (min-width: 1768px) {
	.m7by6 { --l: 18; }
}
@media screen and (min-width: 1779px) {
	.m5by4 { --l: 17; }
	.m3by4 { --l: 28; }
}
@media screen and (min-width: 1787px) {
	.m9by16 { --l: 38; }
}
@media screen and (min-width: 1789px) {
	.m4by3 { --l: 16; }
	.m4by5 { --l: 27; }
}
@media screen and (min-width: 1801px) {
	.m6by7 { --l: 25; }
}
@media screen and (min-width: 1810px) {
	.m9by2 { --l: 5; }
	.m3by2 { --l: 14; }
}
@media screen and (min-width: 1817px) {
	.m2by3 { --l: 32; }
}
@media screen and (min-width: 1823px) {
	.m16by10 { --l: 14; }
}
@media screen and (min-width: 1831px) {
	.m1by1 { --l: 22; }
}
@media screen and (min-width: 1834px) {
	.m9by16 { --l: 39; }
}
@media screen and (min-width: 1842px) {
	.m3by4 { --l: 29; }
}
@media screen and (min-width: 1845px) {
	.m16by9 { --l: 12; }
}
@media screen and (min-width: 1855px) {
	.m37by20 { --l: 12; }
}
@media screen and (min-width: 1857px) {
	.m4by5 { --l: 28; }
}
@media screen and (min-width: 1866px) {
	.m7by6 { --l: 19; }
}
@media screen and (min-width: 1873px) {
	.m6by7 { --l: 26; }
	.m2by3 { --l: 33; }
}
@media screen and (min-width: 1881px) {
	.m9by16 { --l: 40; }
}
@media screen and (min-width: 1884px) {
	.m5by4 { --l: 18; }
}
@media screen and (min-width: 1901px) {
	.m4by3 { --l: 17; }
}
@media screen and (min-width: 1905px) {
	.m3by4 { --l: 30; }
}
@media screen and (min-width: 1909px) {
	.m16by7 { --l: 10; }
}
@media screen and (min-width: 1915px) {
	.m21by9 { --l: 10; }
	.m1by1 { --l: 23; }
}
@media screen and (min-width: 1924px) {
	.m4by5 { --l: 29; }
}
@media screen and (min-width: 1929px) {
	.m2by3 { --l: 34; }
	.m9by16 { --l: 41; }
}
@media screen and (min-width: 1936px) {
	.m3by2 { --l: 15; }
}
@media screen and (min-width: 1945px) {
	.m6by7 { --l: 27; }
}
@media screen and (min-width: 1957px) {
	.m8by3 { --l: 9; }
	.m16by10 { --l: 15; }
}
@media screen and (min-width: 1964px) {
	.m7by6 { --l: 20; }
}
@media screen and (min-width: 1968px) {
	.m3by4 { --l: 31; }
}
@media screen and (min-width: 1976px) {
	.m9by16 { --l: 42; }
}
@media screen and (min-width: 1985px) {
	.m2by3 { --l: 35; }
}
@media screen and (min-width: 1989px) {
	.m5by4 { --l: 19; }
}
@media screen and (min-width: 1991px) {
	.m4by5 { --l: 30; }
}
@media screen and (min-width: 1995px) {
	.m16by9 { --l: 13; }
}
@media screen and (min-width: 1999px) {
	.m3by1 { --l: 8; }
	.m1by1 { --l: 24; }
}
@media screen and (min-width: 2010px) {
	.m37by20 { --l: 13; }
}
@media screen and (min-width: 2013px) {
	.m4by3 { --l: 18; }
}
@media screen and (min-width: 2017px) {
	.m6by7 { --l: 28; }
}
@media screen and (min-width: 2021px) {
  .root, .root .item { --cols: 5; }
	.m9by2 { --l: 4; }
	.m16by5 { --l: 6; }
	.m3by1 { --l: 6; }
	.m8by3 { --l: 7; }
	.m21by9 { --l: 8; }
	.m16by7 { --l: 8; }
	.m37by20 { --l: 10; }
	.m16by9 { --l: 10; }
	.m16by10 { --l: 12; }
	.m3by2 { --l: 12; }
	.m4by3 { --l: 14; }
	.m5by4 { --l: 15; }
	.m7by6 { --l: 16; }
	.m1by1 { --l: 19; }
	.m6by7 { --l: 22; }
	.m4by5 { --l: 24; }
	.m3by4 { --l: 25; }
	.m2by3 { --l: 28; }
	.m9by16 { --l: 34; }
}
@media screen and (min-width: 2051px) {
	.m9by16 { --l: 35; }
}
@media screen and (min-width: 2056px) {
	.m2by3 { --l: 29; }
}
@media screen and (min-width: 2061px) {
	.m3by4 { --l: 26; }
}
@media screen and (min-width: 2063px) {
	.m4by5 { --l: 25; }
}
@media screen and (min-width: 2066px) {
	.m6by7 { --l: 23; }
}
@media screen and (min-width: 2074px) {
	.m1by1 { --l: 20; }
}
@media screen and (min-width: 2083px) {
	.m7by6 { --l: 17; }
}
@media screen and (min-width: 2087px) {
	.m5by4 { --l: 16; }
}
@media screen and (min-width: 2091px) {
	.m4by3 { --l: 15; }
}
@media screen and (min-width: 2100px) {
	.m3by2 { --l: 13; }
}
@media screen and (min-width: 2105px) {
	.m16by10 { --l: 13; }
}
@media screen and (min-width: 2110px) {
	.m9by16 { --l: 36; }
}
@media screen and (min-width: 2115px) {
	.m16by9 { --l: 11; }
}
@media screen and (min-width: 2119px) {
	.m37by20 { --l: 11; }
}
@media screen and (min-width: 2126px) {
	.m2by3 { --l: 30; }
}
@media screen and (min-width: 2140px) {
	.m3by4 { --l: 27; }
}
@media screen and (min-width: 2141px) {
	.m16by7 { --l: 9; }
}
@media screen and (min-width: 2144px) {
	.m21by9 { --l: 9; }
}
@media screen and (min-width: 2147px) {
	.m4by5 { --l: 26; }
}
@media screen and (min-width: 2156px) {
	.m6by7 { --l: 24; }
}
@media screen and (min-width: 2161px) {
	.m8by3 { --l: 8; }
}
@media screen and (min-width: 2169px) {
	.m9by16 { --l: 37; }
}
@media screen and (min-width: 2179px) {
	.m3by1 { --l: 7; }
	.m1by1 { --l: 21; }
}
@media screen and (min-width: 2189px) {
	.m16by5 { --l: 7; }
}
@media screen and (min-width: 2196px) {
	.m2by3 { --l: 31; }
}
@media screen and (min-width: 2205px) {
	.m7by6 { --l: 18; }
}
@media screen and (min-width: 2218px) {
	.m5by4 { --l: 17; }
	.m3by4 { --l: 28; }
}
@media screen and (min-width: 2228px) {
	.m9by16 { --l: 38; }
}
@media screen and (min-width: 2231px) {
	.m4by3 { --l: 16; }
	.m4by5 { --l: 27; }
}
@media screen and (min-width: 2246px) {
	.m6by7 { --l: 25; }
}

@media screen and (min-width: 2421px) {
	.root { --minwidth: 480px; --maxvp: 3320px; }
  .root .item { margin: var(--line); }
  .root, .root .item { --cols: 5; }
	.m9by2 { --l: 5; }
	.m16by5 { --l: 7; }
	.m3by1 { --l: 7; }
	.m8by3 { --l: 8; }
	.m21by9 { --l: 9; }
	.m16by7 { --l: 10; }
	.m37by20 { --l: 12; }
	.m16by9 { --l: 12; }
	.m16by10 { --l: 14; }
	.m3by2 { --l: 15; }
	.m4by3 { --l: 17; }
	.m5by4 { --l: 18; }
	.m7by6 { --l: 19; }
	.m1by1 { --l: 23; }
	.m6by7 { --l: 26; }
	.m4by5 { --l: 28; }
	.m3by4 { --l: 30; }
	.m2by3 { --l: 34; }
	.m9by16 { --l: 40; }
}
@media screen and (min-width: 2451px) {
	.m9by16 { --l: 41; }
}
@media screen and (min-width: 2456px) {
	.m2by3 { --l: 35; }
}
@media screen and (min-width: 2461px) {
	.m3by4 { --l: 31; }
}
@media screen and (min-width: 2463px) {
	.m4by5 { --l: 29; }
}
@media screen and (min-width: 2466px) {
	.m6by7 { --l: 27; }
}
@media screen and (min-width: 2474px) {
	.m1by1 { --l: 24; }
}
@media screen and (min-width: 2483px) {
	.m7by6 { --l: 20; }
}
@media screen and (min-width: 2487px) {
	.m5by4 { --l: 19; }
}
@media screen and (min-width: 2491px) {
	.m4by3 { --l: 18; }
}
@media screen and (min-width: 2500px) {
	.m3by2 { --l: 16; }
}
@media screen and (min-width: 2505px) {
	.m16by10 { --l: 15; }
}
@media screen and (min-width: 2510px) {
	.m9by16 { --l: 42; }
}
@media screen and (min-width: 2515px) {
	.m16by9 { --l: 13; }
}
@media screen and (min-width: 2519px) {
	.m37by20 { --l: 13; }
}
@media screen and (min-width: 2526px) {
	.m2by3 { --l: 36; }
}
@media screen and (min-width: 2540px) {
	.m3by4 { --l: 32; }
}
@media screen and (min-width: 2541px) {
	.m16by7 { --l: 11; }
}
@media screen and (min-width: 2544px) {
	.m21by9 { --l: 10; }
}
@media screen and (min-width: 2547px) {
	.m4by5 { --l: 30; }
}
@media screen and (min-width: 2556px) {
	.m6by7 { --l: 28; }
}
@media screen and (min-width: 2561px) {
	.m8by3 { --l: 9; }
}
@media screen and (min-width: 2569px) {
	.m9by16 { --l: 43; }
}
@media screen and (min-width: 2579px) {
	.m3by1 { --l: 8; }
	.m1by1 { --l: 25; }
}
@media screen and (min-width: 2589px) {
	.m16by5 { --l: 8; }
}
@media screen and (min-width: 2596px) {
	.m2by3 { --l: 37; }
}
@media screen and (min-width: 2605px) {
	.m7by6 { --l: 21; }
}
@media screen and (min-width: 2618px) {
	.m5by4 { --l: 20; }
	.m3by4 { --l: 33; }
}
@media screen and (min-width: 2628px) {
	.m9by16 { --l: 44; }
}
@media screen and (min-width: 2631px) {
	.m4by3 { --l: 19; }
	.m4by5 { --l: 31; }
}
@media screen and (min-width: 2646px) {
	.m6by7 { --l: 29; }
}
@media screen and (min-width: 2658px) {
	.m9by2 { --l: 6; }
	.m3by2 { --l: 17; }
}
@media screen and (min-width: 2666px) {
	.m2by3 { --l: 38; }
}
@media screen and (min-width: 2673px) {
	.m16by10 { --l: 16; }
}
@media screen and (min-width: 2684px) {
	.m1by1 { --l: 26; }
}
@media screen and (min-width: 2687px) {
	.m9by16 { --l: 45; }
}
@media screen and (min-width: 2697px) {
	.m3by4 { --l: 34; }
}
@media screen and (min-width: 2701px) {
	.m16by9 { --l: 14; }
}
@media screen and (min-width: 2713px) {
	.m37by20 { --l: 14; }
}
@media screen and (min-width: 2715px) {
	.m4by5 { --l: 32; }
}
@media screen and (min-width: 2728px) {
	.m7by6 { --l: 22; }
}
@media screen and (min-width: 2736px) {
	.m6by7 { --l: 30; }
	.m2by3 { --l: 39; }
}
@media screen and (min-width: 2746px) {
	.m9by16 { --l: 46; }
}
@media screen and (min-width: 2750px) {
	.m5by4 { --l: 21; }
}
@media screen and (min-width: 2771px) {
	.m4by3 { --l: 20; }
}
@media screen and (min-width: 2776px) {
	.m3by4 { --l: 35; }
}
@media screen and (min-width: 2781px) {
	.m16by7 { --l: 12; }
}
@media screen and (min-width: 2789px) {
	.m21by9 { --l: 11; }
	.m1by1 { --l: 27; }
}
@media screen and (min-width: 2799px) {
	.m4by5 { --l: 33; }
}
@media screen and (min-width: 2805px) {
	.m9by16 { --l: 47; }
}
@media screen and (min-width: 2806px) {
	.m2by3 { --l: 40; }
}
@media screen and (min-width: 2815px) {
	.m3by2 { --l: 18; }
}
@media screen and (min-width: 2826px) {
	.m6by7 { --l: 31; }
}
@media screen and (min-width: 2841px) {
	.m8by3 { --l: 10; }
	.m16by10 { --l: 17; }
}
@media screen and (min-width: 2850px) {
	.m7by6 { --l: 23; }
}
@media screen and (min-width: 2855px) {
	.m3by4 { --l: 36; }
}
@media screen and (min-width: 2864px) {
	.m9by16 { --l: 48; }
}
@media screen and (min-width: 2876px) {
	.m2by3 { --l: 41; }
}
@media screen and (min-width: 2881px) {
	.m5by4 { --l: 22; }
}
@media screen and (min-width: 2883px) {
	.m4by5 { --l: 34; }
}
@media screen and (min-width: 2888px) {
	.m16by9 { --l: 15; }
}
@media screen and (min-width: 2894px) {
	.m3by1 { --l: 9; }
	.m1by1 { --l: 28; }
}

/*6 155*/
@media screen and (min-width: 2901px) {
  .root, .root .item { --cols: 6; }
	.m9by2 { --l: 5; }
	.m16by5 { --l: 7; }
	.m3by1 { --l: 7; }
	.m8by3 { --l: 8; }
	.m21by9 { --l: 9; }
	.m16by7 { --l: 10; }
	.m37by20 { --l: 12; }
	.m16by9 { --l: 12; }
	.m16by10 { --l: 14; }
	.m3by2 { --l: 15; }
	.m4by3 { --l: 17; }
	.m5by4 { --l: 18; }
	.m7by6 { --l: 19; }
	.m1by1 { --l: 23; }
	.m6by7 { --l: 26; }
	.m4by5 { --l: 28; }
	.m3by4 { --l: 30; }
	.m2by3 { --l: 34; }
	.m9by16 { --l: 40; }
}
@media screen and (min-width: 2945px) {
	.m9by16 { --l: 41; }
}
@media screen and (min-width: 2953px) {
	.m2by3 { --l: 35; }
}
@media screen and (min-width: 2960px) {
	.m3by4 { --l: 31; }
}
@media screen and (min-width: 2963px) {
	.m4by5 { --l: 29; }
}
@media screen and (min-width: 2968px) {
	.m6by7 { --l: 27; }
}
@media screen and (min-width: 2979px) {
	.m1by1 { --l: 24; }
}
@media screen and (min-width: 2992px) {
	.m7by6 { --l: 20; }
}
@media screen and (min-width: 2998px) {
	.m5by4 { --l: 19; }
}
@media screen and (min-width: 3005px) {
	.m4by3 { --l: 18; }
}
@media screen and (min-width: 3018px) {
	.m3by2 { --l: 16; }
}
@media screen and (min-width: 3025px) {
	.m16by10 { --l: 15; }
}
@media screen and (min-width: 3032px) {
	.m9by16 { --l: 42; }
}
@media screen and (min-width: 3039px) {
	.m16by9 { --l: 13; }
}
@media screen and (min-width: 3045px) {
	.m37by20 { --l: 13; }
}
@media screen and (min-width: 3056px) {
	.m2by3 { --l: 36; }
}
@media screen and (min-width: 3076px) {
	.m3by4 { --l: 32; }
}
@media screen and (min-width: 3079px) {
	.m16by7 { --l: 11; }
}
@media screen and (min-width: 3082px) {
	.m21by9 { --l: 10; }
}
@media screen and (min-width: 3087px) {
	.m4by5 { --l: 30; }
}
@media screen and (min-width: 3101px) {
	.m6by7 { --l: 28; }
}
@media screen and (min-width: 3108px) {
	.m8by3 { --l: 9; }
}
@media screen and (min-width: 3119px) {
	.m9by16 { --l: 43; }
}
@media screen and (min-width: 3134px) {
	.m3by1 { --l: 8; }
	.m1by1 { --l: 25; }
}
@media screen and (min-width: 3149px) {
	.m16by5 { --l: 8; }
}
@media screen and (min-width: 3160px) {
	.m2by3 { --l: 37; }
}
@media screen and (min-width: 3173px) {
	.m7by6 { --l: 21; }
}
@media screen and (min-width: 3192px) {
	.m5by4 { --l: 20; }
	.m3by4 { --l: 33; }
}
@media screen and (min-width: 3207px) {
	.m9by16 { --l: 44; }
}
@media screen and (min-width: 3211px) {
	.m4by3 { --l: 19; }
	.m4by5 { --l: 31; }
}
@media screen and (min-width: 3234px) {
	.m6by7 { --l: 29; }
}
@media screen and (min-width: 3250px) {
	.m9by2 { --l: 6; }
	.m3by2 { --l: 17; }
}
@media screen and (min-width: 3263px) {
	.m2by3 { --l: 38; }
}
@media screen and (min-width: 3273px) {
	.m16by10 { --l: 16; }
}
@media screen and (min-width: 3289px) {
	.m1by1 { --l: 26; }
}
@media screen and (min-width: 3294px) {
	.m9by16 { --l: 45; }
}
@media screen and (min-width: 3308px) {
	.m3by4 { --l: 34; }
}
@media screen and (min-width: 3315px) {
	.m16by9 { --l: 14; }
}
