.root {
	display: flex;
  flex-direction: column;
	padding: var(--gap);
	margin: 0;
	/* background-color: var(--paper); */
}
.root, .item {
  --gap: var(--line);
  --cols: 1;
  --asidewidth: 240px;
  --minwidth: 400px;
  --maxvp: calc(28 * var(--line));
}
.columns {
	list-style: none;
	margin: 0 auto;
  padding: 0;
  width: 100%;
  /* Note: This changes to 3320px with larger gap for 4k */
  max-width: var(--maxvp);
}
.item {
  --w: calc((100vw - (var(--gap) * (var(--cols) + 1))) / var(--cols));
	display: flex;
	flex-direction: column;
  width: var(--w);
	min-height: var(--line);
	justify-content: center;
  position: relative;
	background-size: cover;
  padding: 0px;
	margin-bottom: 0px;
}
.root .item {
  /* handled by grid */
  /* width: auto; */
}

.typo { composes: column from './_typo.css'; }

.item.baselined {
  --h: calc(var(--w) / var(--ar2,1) * var(--ar1,1));
	grid-row-end: span var(--l);
  min-height: var(--h);
	max-width: 100%;
  margin: 0 auto calc(var(--line) * var(--l) - var(--h)) auto;
}

.content {
  width: 100%;
  padding: var(--line);
  background: #444;
}

@media screen and (max-width: 444px) {
	.root { padding: 0; }
	.item { padding: var(--lineHalf, 7px) 0 var(--lineHalf, 7px) 0; }
}
@media screen and (max-width: 623px) {
  .root, .item { --maxvp: 100%; }
	.columns {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.root .item,
	.root .item.baselined {
		width: 100%;
		margin-bottom: var(--line);
	}
	@supports not (aspect-ratio: 16 / 9) {
		.root .item::before {
		  content: "";
		  padding-top: calc(100% * var(--ar2, 9) / var(--ar1, 16));
		  float: left;
		}
		.root .item::after {
		  clear: left;
		  content: " ";
		  display: table;
		}
	}
	.root .item {
		aspect-ratio: var(--ar1, 16) / var(--ar2, 9);
	}
}
@media screen and (min-width: 624px) {
	@supports not (grid-template-rows: masonry) {
	  .columns {
	    display: grid;
	    grid-gap: var(--gap, var(--grid-base, 8px));
	    grid-template-columns: repeat(auto-fill, minmax(calc(var(--minwidth) - var(--gap)), 1fr));
	    grid-template-rows: min-content auto;
	    grid-auto-rows: minmax(min-content, calc(var(--line) - var(--gap)));
	    padding-bottom: var(--gap, var(--grid-base, 8px));
	    position: relative;
	  }
	  .root .item {
	    margin: 0;
	    padding: 0;
	  }
	}
	@supports (grid-template-rows: masonry) {
	  .columns {
	    display: grid;
	  	grid-gap: var(--gap);
	  	grid-auto-rows: var(--gap);
	    grid-template-columns: repeat(var(--cols, 2), 1fr);
	    grid-template-rows: masonry;
	  }
	  .root .item {
	    width: 100%;
	    padding: 0;
	    margin: 0;
	  }
	}
}

.m9by2 { --ar1: 9; --ar2: 2; }
.m16by5 { --ar1: 16; --ar2: 5; }
.m3by1 { --ar1: 3; --ar2: 1; }
.m8by3 { --ar1: 8; --ar2: 3; }
.m21by9 { --ar1: 21; --ar2: 9; }
.m16by7 { --ar1: 16; --ar2: 7; }
.m37by20 { --ar1: 37; --ar2: 20; }
.m16by9 { --ar1: 16; --ar2: 9; }
.m16by10 { --ar1: 16; --ar2: 10; }
.m3by2 { --ar1: 3; --ar2: 2; }
.m4by3 { --ar1: 4; --ar2: 3; }
.m5by4 { --ar1: 5; --ar2: 4; }
.m7by6 { --ar1: 7; --ar2: 6; }
.m1by1 { --ar1: 1; --ar2: 1; }
.m6by7 { --ar1: 6; --ar2: 7; }
.m4by5 { --ar1: 4; --ar2: 5; }
.m3by4 { --ar1: 3; --ar2: 4; }
.m2by3 { --ar1: 2; --ar2: 3; }
.m9by16 { --ar1: 9; --ar2: 16; }

/* Columns and Aspect Ratios */
@media screen and (min-width: 624px) {
	.m9by2 { --l: 6; }
	.m16by5 { --l: 9; }
	.m3by1 { --l: 10; }
	.m8by3 { --l: 11; }
	.m21by9, .m16by7 { --l: 12; }
	.m37by20 { --l: 15; }
	.m16by9 { --l: 16; }
	.m16by10 { --l: 18; }
	.m3by2 { --l: 19; }
	.m4by3 { --l: 21; }
	.m5by4 { --l: 23; }
	.m7by6 { --l: 24; }
	.m1by1 { --l: 28; }
	.m6by7 { --l: 33; }
	.m4by5 { --l: 35; }
	.m3by4 { --l: 37; }
	.m2by3 { --l: 42; }
	.m9by16 { --l: 50; }
}
