.root {
	box-shadow: var(--ui-dp-1);
}
.root.raised {
	background-color: none;
	box-shadow: var(--ui-dp-2);
}


.rounded details:first-child {
	border-top-left-radius: var(--ui-border-radius-emphasized);
	border-top-right-radius: var(--ui-border-radius-emphasized);
}
.rounded details:last-child {
	border-bottom-left-radius: var(--ui-border-radius-emphasized);
	border-bottom-right-radius: var(--ui-border-radius-emphasized);
}

.paneRoot {
	composes: root from './paneTitle.m.css';
	margin-bottom: 1px;
	transition: margin var(--ui-easing, ease-in-out) var(--ui-dpd-0, 0.25s);
}

.paneRoot:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.paneRoot:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 0;
}

.paneOpen {
	composes: open from './paneTitle.m.css';
	margin: 16px 0;
}

.paneOpen:first-child {
	margin-top: 0;
}

.paneOpen:last-child {
	margin-bottom: 0;
}

.responsive { }
.disabled { }
.expanded { }
