.root { }
.hasFocus { }
.active { }
.spaced { }
.dense { }
.actors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: var(--line);
}
.actors.active {
	justify-content: flex-end;
}
/*
.dense .actors > .actor {
	margin: 0 -2px 0 0;
}
*/
.moreWrapper {
	order: 9999;
	padding-top: var(--pt);
}
.moreContent {
	font-weight: var(--weight-bold, 800);
}
.moreContentDense {
	letter-spacing: -1px;
}

.attributions {
	composes: h3 from './_typo.css';
	--toColor: var(--ui-border, gray);
	--btnColor: var(--ui-bg, black);
	display: flex;
	position: relative;
	align-items: baseline;
	box-sizing: border-box;
	max-width: 100%;
	order: 3;
	z-index: 3;
}

.hasFocus > * {
	background: none !important;
}
.hasFocus .avatarsContent {
	position: relative;
	visibility: hidden;
}
.hasFocus .avatarsContent::before {
	visibility: visible;
  content: 'f';
	position: absolute;
	display: flex !important;
	font-family: 'redaktor' !important;
	color: inherit !important;
	line-height: 1 !important;
	margin: 0 !important;
	padding: 0 !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.meAvatar,
.avatar {
	z-index: 0;
	margin-right: var(--grid-base,8px);
	width: var(--line2);
	margin-left: var(--minusLine);
}

.profileImage {
	display: none;
	height: calc(var(--l) * var(--line));
	margin: var(--minusLine) calc(var(--grid-base,8px) * -1) calc(var(--lineHalf) * -1) calc(var(--grid-base,8px) * -1);
	position: relative;
	z-index: 0;
}
.attributions[open] .profileImage {
	display: block;
}
.actors .profileImage {
	margin-bottom: calc(var(--lineHalf) * -1);
}
.attributions .summary {
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: pointer;
	z-index: 2;
}
.attributions[open] .summary {
	margin: 0 0 var(--minusLine) 0;
}
.attributions[open] .summary.hasProfileImage {
	margin: var(--lineHalf) 0 var(--minusLine) 0;
}
.attributions .summary::-webkit-details-marker {
  display: none;
}
.attributions .summary:focus {
	outline: none;
}

.summaryContent {
	display: flex;
	height: var(--line2);
	margin-right: var(--line);
	z-index: 9;
}

.detailsContent {
	max-width: 540px;
}

.handle {
	composes: serif xs from './_typo.css';
}
.closed,
.noPetName {
	composes: sans m from './_typo.css';
	font-weight: var(--weight-semibold, 500);
}
.metaWrapper {
	position: relative;
	flex-grow: 1;
	min-width: 0;
}

.root .attributions {
	margin-bottom: 0px;
	padding: 0px var(--p) 0px var(--p);
}
.root .attributions[open] {
	margin-bottom: var(--line);
}
.attributions.wellKnown { }
.attributions.wellKnown::after {
	opacity: 0.8;
}
.actors > .attributions {
	display: flex;
}
/*
.attributions[open] {
	margin-bottom: var(--pt) !important;
}
*/
.actors > .attributions[open] {
	order: 4;
}
.root .attributions.hasAvatar {
	padding: 0px var(--lineHalf) 0px var(--lineHalf);
}
.root .actors > .attributions.hasAvatar:not([open]) {
	padding: 0px;
}
.attributions[open] .avatar {
	width: calc(var(--line3) - var(--pt));
	margin-left: calc((var(--line) - var(--pt)) * -1);
}
.attributions[open] .avatar > * {
	--h: calc(var(--line3) - var(--pt)) !important;
}
.actors > .attributions:first-child:not([open]) {
	margin-left: calc(var(--grid-base,8px) * 2)
}

.actors > .attributions:not([open]) {
	transform: scale(0.8333333);
	min-width: var(--touch-target-min);
	margin: 0px;
}

.actors > .attributions .summaryContent {
	margin-right: 0px;
}

.actorName,
.handle {
	margin: 0 !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 1;
}
.actorName,
.handle {
	color: var(--text-muted);
}
.detailsContent .handle {
	display: inline-block;
	padding-top: var(--pt);
	padding-left: var(--line2);
	z-index: 1;
}
.petName + .detailsContent .handle {
	opacity: 0.4;
}
.root .actorName {
	padding-bottom: calc(var(--ui-border-width-emphasized) * 2);
}
.actorByline {
	margin-top: calc(var(--mb) - var(--line) - (var(--ui-border-width-emphasized) * 2));
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.actorName + .detailsContent .handle {
	padding: 0px;
}
.summaryContent:hover .actorName,
.attributions[open] .actorName,
.attributions:not([open]) .closed.petName {
	color: var(--text);
}

.actorName {
	max-width: calc(var(--w) - 64px);
}
.attributions:not([open]) .actorName {
	width: 100%;
	max-width: calc(var(--w) - 48px);
}
.attributions[open] .closed,
.attributions:not([open]) .closed + .actorName {
	display: none;
}
/* 2 items */
.actors > .attributions:not([open]) .actorName {
	max-width: 152px;
	max-width: calc(var(--w) / 2 - 39px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.actors.active > .attributions:not([open]) .actorName {
	max-width: 320px;
	max-width: calc(var(--w) - 56px);
}
.actors.active.hasProfileImage > .attributions:not([open]) .actorName {
	max-width: 370px;
	max-width: var(--w);
}
/* 3 items */
.actors > .has3:not([open]) .actorName {
	max-width: 97px;
	max-width: calc((var(--w) - 105px) / 3);
}
.actors.active > .has3:not([open]) .actorName {
	max-width: 142px;
	max-width: calc((var(--w) - 101px) / 2);
}
.actors.active.hasProfileImage > .has3:not([open]) .actorName {
	max-width: 160px;
	max-width: calc((var(--w) - 64px) / 2);
}
/* more items */
.actors > .more3 .summaryContent {
	margin-right: calc(var(--grid-base,8px) * -1);
}
.actors > .more3 .metaWrapper {
	display: none;
}

/* replace for the banana yellow Safari autocomplete */
.root .petNameIcon {
	position: absolute;
	display: inline-block;
	z-index: 11;
	top: calc(var(--line) + var(--pt) + var(--ui-border-width-emphasized));
	right: var(--grid-base);
}
.root input:not(:focus) ~ .petNameIcon {
	top: calc(var(--line) + var(--pt));
}
.root input:not(:-webkit-autofill) ~ .petNameIcon {
	display: none;
}

.followWrapper {
	display: flex;
}
.actorDetails {
	padding: 0px 0px 0px var(--grid-base);
	margin-bottom: calc(var(--mb) - var(--line));
}
.actionButtons {
	display: flex;
	padding-top: calc(var(--line) + 1px);
}
.followAction input {
	padding-right: var(--lineHalf);
	font-weight: 500;
}
.actionButtons button,
.actionButtons button::before {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0px !important;
}
.unfollowAction {
	margin-top: var(--line);
}
.unfollowAction button {
	margin-bottom: 0 !important;
}

.followerLabel {
	font-weight: var(--weight-semibold,500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.root .trustChip {
	margin-top: calc(var(--pt) + var(--ui-border-width-emphasized,2px)) !important;
	margin-bottom: calc(var(--mb) - var(--pt)) !important;
}
.me.trustChip {
	margin-top: var(--line) !important;
}

.responsiveTypo {
	composes: cards from './_typo.css';
}
