.root {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-around;
	flex: 1;
	order: 8;
	max-width: 100%;
	/* margin-top: var(--line); */
	margin-bottom: var(--mb);
}
.root:not([open]) {
	height: var(--line2);
	margin: 0px;
}
.micro {
	min-width: 224px;
}
.row {
	/* margin: 0 auto; */
	margin: 0;
	padding-right: var(--line);
	min-width: 240px;
}
.column {
	min-width: 320px;
}
.nowrap {
	position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	color: var(--text-muted);
}
.summary {
	padding-top: var(--pt);
	padding-left: 4px;
}

.attachmentControl {
	display: flex;
	align-items: baseline;
	min-width: 100%;
}
.attachmentType {
	min-width: var(--touch-target-min, var(--line2, 32px));
	text-align: center;
}

@media screen and (min-width: 1908px) {
	.row {
		min-width: 320px;
		max-width: 584px;
	}
}
@media screen and (min-width: 2800px) {
	.row {
		max-width: 680px;
	}
}
@media screen and (min-width: 3200px) {
	.row {
		margin: 0;
	}
}
@media screen and (min-width: 3400px) {
	.row {
		margin: 0 auto;
	}
}
