.root {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-around;
	flex: 1;
	order: 8;
	max-width: 100%;
	margin-bottom: var(--line);
	background: var(--paper);
}

.root.tile {
	align-items: flex-end;
	min-height: var(--line4);
	padding: 0px 4px 0px 4px; /* TODO responsive var in view */
	text-align: justify;
	-webkit-hyphens: auto;
	word-break: break-all;
	background: #666;
}
.root.tile .text {
	line-height: calc(var(--lh) * 0.5);
	padding: 0px;
	margin-bottom: var(--line);
}
.root.tile .icon {

}
.root:not([open]) {
	height: var(--line2);
	margin: 0px;
}

.micro {
	min-width: 224px;
}
.row {
	/* margin: 0 auto; */
	margin: 0;
	padding-right: var(--line);
	min-width: 240px;
}

.column {
	min-width: 320px;
}
.nowrap {
	position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	color: var(--text-muted);
}

.detailsSummary {
	composes: m from './_typo.css';
	z-index: 2;
	border-bottom: 1px solid var(--border);
	margin-top: -1px;
}
.name {
	display: flex;
	margin-bottom: calc(var(--lineHalf) * -1);
}
.summary {
	composes: xs from './_typo.css';
}
.root .summary {
	margin: 0px;
}

@keyframes tableheight {
	0%   { height: var(--line); }
	100%   { height: calc(var(--line) * var(--l, 8)); }
}
.table {
	border-top: 1px solid var(--border);
	margin-top: -1px;
}
details[open] .table {
	animation: tableheight var(--ui-dpd-4) var(--ui-easing);
}
.tableItem {
	transition: background-color var(--ui-dpd-1) var(--ui-easing);
	cursor: pointer;
}
.tableItem:hover {
	background-color: var(--sticker);
}

.attachmentControl {
	display: flex;
	align-items: baseline;
	min-width: 100%;
}
.attachmentType {
	min-width: var(--touch-target-min, var(--line2, 32px));
	text-align: center;
}

@media screen and (min-width: 1908px) {
	.row {
		min-width: 320px;
		max-width: 584px;
	}
}
@media screen and (min-width: 2800px) {
	.row {
		max-width: 680px;
	}
}
@media screen and (min-width: 3200px) {
	.row {
		margin: 0;
	}
}
@media screen and (min-width: 3400px) {
	.row {
		margin: 0 auto;
	}
}
