.root {
	position: relative;
	width: 100%;
	background-size: cover;
	padding: 0 !important;
}
.smallViewport { }
/* TODO nojs : */
.audio {
	width: 100%;
}
.audio:not(.video) {
	height: var(--line2);
}
/* .audio.video = with tracks (subtitles, captions, descriptions, chapters) */
.media .poster,
.audio.video {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	object-fit: cover;
	object-position: 50%;
}
.media .poster {
	z-index: -1;
}
.audio,
.name {
	composes: m from './_typo.css';
}
.name {
	font-weight: var(--weight-semibold, 500);
	--plr: var(--line);
	position: absolute;
	bottom: calc(var(--pt) + var(--line) * var(--mml));
	left: 0px;
	background-color: var(--bg, #666);
	width: 100%;
	padding: var(--pt) var(--plr) var(--pt) var(--plr);
	box-shadow: var(--ui-dp-2);
	z-index: 9;
}

.profiles {
	display: flex;
	flex-wrap: wrap;
}
.profiles > input,
.profiles > details {
	display: none;
	order: 2;
}
.profiles > label {
	order: 3;
}
.profiles > input:checked + details {
	display: block;
	width: 100%;
	order: 1;
}

.paged,
.pager {
  display: none;
}
.pager:checked + .paged {
  display: inline-block;
}
.prev,
.next {
	display: inline-block;
	min-width: var(--touch-target-min, var(--line2, 32px));
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
	cursor: pointer;
}
.prev {
	margin-right: 4px;
}
.prev:hover,
.next:hover {
	color: var(--ui-filled, #eee);
}
.prev i,
.next i {
	vertical-align: middle;
}

.video::cue {
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	line-height: 20px;
	text-shadow: 1px 1px 1px #000;
	outline: 1px solid rgba(0,0,0,0.64);
	background-color: rgba(0,0,0,0.64);
}
.header {

}
.mediaFresh .name {
	--plr: calc(var(--line) * 2.5);
	bottom: calc(var(--pt) + var(--line) + (var(--line) * var(--mml)));
}
.media {
	margin-bottom: calc(var(--line) * var(--mml,0));
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--ui-bg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; /*contain;*/
	filter: contrast(80%);
	overflow: hidden;
	position: relative;
	transition: border-radius var(--ui-dpd-16,0.5s) var(--ui-easing);
	width: 100%;
	cursor: pointer;
}
.media:not(.mediaFresh) {
	border-top-left-radius: var(--ui-border-radius-emphasized, 0.25rem);
	border-top-right-radius: var(--ui-border-radius-emphasized, 0.25rem);
}
.mediaFresh {
	border-radius: 50%;
}
.mediaFresh ~ details:not(details[open]) > summary .avatar {
	position: absolute;
	top: -100%;
}
.media::before {
	display: block;
	content: '';
	margin-top: calc(100% - var(--line2));
	max-width: calc(100vh - var(--line2));
}
.media.mediaFresh::before {
	margin-top: 100%;
	max-width: 100vh;
}

.paused {

}
.playPause {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 8;
	position: absolute;
	padding: 0;
	margin: 0;
}
.playPause::after {
	content: "";
	display: block;
	width: var(--line3);
	height: var(--line3);
	border-color: transparent transparent transparent var(--ui-filled, #eee);
	transition: all 100ms ease-in-out;
}
.root:not(.paused) .playPause:hover::after {
	border-style: double;
	border-width:0px 0px 0px var(--line2);
}
.media .playPause:hover::after {
	border-color: transparent transparent transparent var(--ui-filled-hover, #fff);
}
.name:hover ~ .playPause::after,
.name:hover ~ .playPause:hover::after {
	border-color: transparent transparent transparent var(--ui-filled, #eee) !important;
}
.paused .playPause::after {
	border-style: solid;
	border-width: var(--line2) 0 var(--line2) var(--line4);
}
.controls {
	height: var(--line3);
}
.mediaFresh + .controls {
	display: none;
}
.progress {
	min-height: var(--line) !important;
}
.progress, .volume {
	max-height: var(--line);
}
.row {
	display: flex;
	justify-content: space-between;
}
.caption {

}
.time {

}
.duration {
	color: var(--text-muted);
}
.volume {
	display: flex;
	min-width: 96px;
	width: 38.2%;
	padding-top: var(--pt);
}
.mute,
.speed,
.playPause,
.download,
.speedControl {
	display: flex;
	appearance: none;
	border: 0;
	background: none;
	color: var(--text, #fff);
	cursor: pointer;
	min-width: var(--touch-target-min, var(--line2, 32px));
	min-height: 32px;
}
.mute,
.speed,
.download {
	justify-content: center;
	margin: 0 0 0 calc(var(--grid-base) * 2);
	padding: 0;
}
.smallViewport .mute,
.smallViewport .speed {
	margin: 0 0 0 var(--grid-base);
}
.mute.muted,
.speed.hasSpeed {
	color: var(--ui-warning, #ddd);
}
.download {
	position: absolute;
	right: 0px;
	padding: 0;
	margin-top: var(--pt);
}
.speedControl {
	justify-content: center;
	align-items: flex-start;
}
.smallViewport .speedControl {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 99;
	justify-content: flex-end;
}
.play { }
.pause { }

.footer {

}

.xs { }
.s { }
.m { }
.l { }
.xl { }
.xxl { }
