.root {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	background-size: cover;
	padding: 0 !important;
	margin-bottom: 0 !important;
}
.root:not(.row) {
	max-width: 64ch;
}
.xs, .s, .m, .l, .xl, .xxl { }
.mini, .medium, .large { }



.menuOpen, .paused { }
.measure {
	position: absolute;
	width: 100%;
	height: 1px;
	top: -1px;
}

.trackMenu {
	width: 100%;
	padding: var(--line) var(--grid-base) 0 var(--grid-base);
	margin-bottom: var(--line4);
	z-index: 99;
}

/* TODO nojs : */
.audio {
	width: 100%;
}
video:picture-in-picture {

}
.audio:not(.video) {
	height: var(--line2);
}
/* .audio.video = with tracks (subtitles, captions, descriptions, chapters) */
.media .poster,
.audio.video {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	object-fit: cover;
	object-position: 50%;
}
.audio.video {
	height: calc(100% - var(--line));
	padding: 0 var(--grid-base) 0 var(--grid-base);
	margin-bottom: var(--line);
	z-index: 2;
}
.paused:not(.menuOpen) .audio.video {
	opacity: 0.5;
}
.video::cue {
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	line-height: 20px;
	text-shadow: 1px 1px 1px #000;
	outline: 1px solid rgba(0,0,0,0.64);
	background-color: rgba(0,0,0,0.64);
}
.media .poster {
	z-index: -1;
	transition: opacity 4s var(--ui-easing-leave, ease-in-out);
}
.root:not(.fresh) .poster {
	z-index: 2;
	opacity: 0;
}
.row .media .poster {
	border-radius: 50%;
}

.audioAvatarWrapper {
	z-index: 1;
}
.fresh .audioAvatarWrapper {
	opacity: 0.64;
	margin-top: var(--lineHalf);
}
.row.fresh .audioAvatarWrapper {
	opacity: 0;
}
.root:not(.fresh) .audioAvatarWrapper {
	opacity: 1;
}

.names {
	/* position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.64);
	width: 100%;
	padding: var(--pt) var(--line) var(--pt) var(--line);
	box-shadow: var(--ui-dp-2); */
	z-index: 6;
}
.kicker {
	margin-bottom: calc(var(--mb) - var(--line)) !important;
	color: var(--kicker);
}
.byline {
	margin-top: calc(var(--line) * -1);
	color: var(--text-muted);
}
.kicker,
.name {
	font-weight: var(--weight-semibold, 500);
}
.root .summary {
	padding: 0;
	margin-bottom: calc(var(--mb) - var(--line));
}

.content,
.freshDuration {
	composes: serif from './_typo.css';
}
.root .content {
	margin: 0;
	padding: 0;
}
.root .freshDuration {
	padding: 0;
}
/*
.fresh .names {
	padding: var(--pt) 19.1% var(--pt) 19.1%;
	bottom: calc(var(--pt) + var(--line) + (var(--line) * var(--mml)));
}
*/
.root:not(.row) .mediaFreshTop,
.root:not(.row) .mediaTop {
	position: absolute;
	max-width: 100%;
	z-index: 6;
}
.mediaFreshTop {
	padding-top: var(--pt);
	justify-content: flex-start;
	z-index: 10;
}
.mediaTop {
	right: 0px;
}

.header {
	z-index: 3;
}

.media {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--ui-bg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; /*contain;*/
	filter: contrast(80%);
	overflow: hidden;
	z-index: 4;
	transition: border-radius var(--ui-dpd-16,0.5s) var(--ui-easing);
	width: 61.8%;
	cursor: pointer;
}
.root:not(.row) .media {
	margin-left: 19.1%;
	margin-right: 19.1%;
}
.xs:not(.row) .media {
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
.micro:not(.row) .media {
	width: calc(100% - var(--line));
	margin-left: 0;
	margin-right: 0;
}
.media:not(.fresh .media) {
	border-top-left-radius: var(--ui-border-radius-emphasized, 0.25rem);
	border-top-right-radius: var(--ui-border-radius-emphasized, 0.25rem);
	margin-bottom: calc(var(--line) * var(--mml,0) - var(--line));
}
.fresh .media {
	border-radius: 50%;
	margin-bottom: calc(var(--line) * var(--mml,0) - var(--line));
}

.fresh .media ~ details:not(details[open]) > summary .avatar {
	position: absolute;
	top: -100%;
}
.media::before {
	content: '';
	display: block;
	margin-top: calc(100% - var(--line2));
	max-width: calc(100vh - var(--line2));
}
.fresh .media::before {
	margin-top: 100%;
	max-width: 100vh;
}

.playPause {
	--bBase: var(--line2);
	--bHalf: calc(var(--bBase) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 5;
	position: absolute;
	padding: 0 0 var(--line) 0;
	margin: 0;
}
.root.row .playPause { --bBase: calc(var(--line) * 1.5); }
.root.preview .playPause { --bBase: var(--line); }

.playPause::after {
	--playcolor: var(--ui-bg, #eee);
	content: "";
	display: block;
	border-color: transparent transparent transparent var(--playcolor, #eee);
	transition: all var(--ui-dpd-0, 100ms) ease-in-out;
	margin-top: var(--line);
	width: var(--bBase);
	height: var(--bBase);
}
.root:not(.row):not(.fresh) .playPause::after {
	margin-top: var(--lineHalf);
}
.root:not(.paused) .media:hover .audioAvatarWrapper {
	opacity: 0.24;
}
.fresh.row .playPause::after {
	--playcolor: var(--r-primary, #ff7a00);
}
.media .playPause:hover::after {
	--playcolor: var(--text, #fff);
}
.name:hover ~ .playPause::after,
.name:hover ~ .playPause:hover::after {
	--playcolor: var(--ui-filled, #eee);
}
.fresh .name:hover ~ .playPause::after,
.fresh .name:hover ~ .playPause:hover::after {
	--playcolor: var(--ui-bg, #eee);
}
.paused .playPause::after {
	border-style: solid;
	border-width: var(--bHalf) 0 var(--bHalf) var(--bBase);
}
.root:not(.paused) .playPause:hover::after {
	border-style: double;
	border-width: 0px 0px 0px var(--bBase);
}

.menuOpen .audioAvatarWrapper,
.menuOpen .playPause,
.menuOpen .name {
	display: none;
}
.menuOpen .audio.video {
		z-index: -1;
}

.controls {
	height: var(--line3);
	z-index: 7;
}
.fresh .mediaTop,
.root:not(.fresh) .mediaFreshTop,
.fresh .media + .controls {
	display: none;
}

.progress {
	min-height: var(--line) !important;
}
.progress, .volume {
	max-height: var(--line);
}
.captionRow {
	display: flex;
	justify-content: space-between;
}
.caption {

}
.time {
	cursor: pointer;
}
.duration {
	cursor: pointer;
	color: var(--text-muted);
}
.volume {
	display: flex;
	min-width: 96px;
	width: 38.2%;
	padding-top: var(--pt);
}
.volume div:first-child {
	margin-top: 1px;
}
.volume > button {
	margin-left: 12px;
}
.mute,
.speed,
.playPause,
.download,
.speedControl {
	display: flex;
	appearance: none;
	border: 0;
	background: none;
	color: var(--text, #fff);
	cursor: pointer;
	min-width: var(--touch-target-min, var(--line2, 32px));
	min-height: 32px;
}
.mute,
.speed,
.download {
	justify-content: center;
	margin: 0 0 0 calc(var(--grid-base) * 2);
	padding: 0;
}
.micro .mute, .xs .mute, .s .mute,
.micro .speed, .xs .speed, .s .speed {
	margin: 0 0 0 var(--grid-base);
}
.mute.muted,
.speed.hasSpeed {
	color: var(--ui-warning, #ddd);
}
.download {
	position: absolute;
	right: 0px;
	padding: 0;
	margin-top: var(--pt);
}
.speedControl {
	justify-content: center;
	align-items: flex-start;
}
.micro .speedControl, .xs .speedControl, .s .speedControl {
	z-index: 6;
	justify-content: flex-end;
	min-width: 16px;
}
.micro .volume, .xs .volume, .s .volume {
	min-width: var(--touch-target-min, var(--line2, 32px));
}
.play { }
.pause { }

.contentWrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	max-width: 64ch;
	padding: 0 var(--p) var(--line) var(--p);
	order: 5;
}
/* .images, */
.attachments {
	min-width: 320px;
	max-width: 100%;
}
.attachments {
	display: flex;
	flex: 1;
}

.micro .attachments {
	min-width: 240px;
}
.images {
	display: grid;
  grid-gap: 4px; /* TODO gap property */
  grid-template-columns: repeat(auto-fill, minmax(160px,1fr)); /* TODO min property */
  grid-auto-rows: var(--line, 16px);
	background-color: var(--ui-bg, #000);
	order: 7;
}
.image {
	display: block;
	margin: 0;
	padding: 0;
  max-width: 100%;
	height: auto;
	transition: opacity var(--ui-dpd-8,400ms) var(--ui-easing) 0ms;
}
.figure {
	position: relative;
	margin: 0px;
  overflow: hidden;
}
.figure > canvas {
	display: block;
	width: 100%;
	height: auto;
}
/* only js */
.figure > *:not(i) + .image {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}
.figure.loaded > *:not(i) + .image {
	opacity: 1;
}

/* TODO native masonry */
@supports (grid-template-rows: masonry) {
	.micro .images { --mcols: 1; --gap: 0; }
	.xs .images { --mcols: 2; --gap: 0; }
	.s .images { --mcols: 2; }
	.m .images { --mcols: 3; }
	.l .images { --mcols: 4; }
	.xl .images { --mcols: 5; }
	.xxl .images { --mcols: 6; --gap: calc(var(--grid-base, 8px) * 2); }
  .images {
		display: grid;
		gap: var(--gap, var(--grid-base, 8px));
	  grid-template-columns: repeat(var(--mcols, 2), 1fr);
	  grid-template-rows: masonry;
	}
	.figure > img {
	  grid-row: 1 / -1;
	  grid-column: 1;
	}
}
.attachments {
	background: green;
	order: 8;
}
.footer {
	z-index: 6;
}

.summaryPaginated,
.contentCollapsed {

}
.root.row {
	flex-direction: row;
	flex-wrap: wrap;
}
.row .mediaFreshTop {
	min-width: var(--line5);
	margin-right: var(--grid-base);
}
.row .media {
	width: var(--line5);
	max-height: var(--line5);
	margin-top: 0;
	margin-right: var(--line);
	background: none;
	z-index: 1;
	order: 3;
}
.row .controls {
	order: 2;
	width: 50%;
	min-width: 240px;
}
.row .contentWrapper {
	min-width: 38ch;
	flex: 1;
	z-index: 2;
}
.fresh.micro.row .media,
.fresh.xs.row .media {
	width: 72px;
	max-height: 72px;
	margin-top: calc(var(--line) * -1);
	margin-right: var(--grid-base);
}
.fresh.xs.row .summaryPaginated,
.fresh.xs.row .contentCollapsed {
	margin-left: -72px;
}
.fresh.row .attributions {
	order: 2;
	width: calc(100% - var(--line5) - var(--grid-base));
}
.row:not(.fresh) .mediaTop {
	display: none;
}
.row:not(.fresh) .attributions {
	order: 1;
	width: 50%;
	min-width: 320px;
}
.micro.row .contentWrapper,
.xs.row .contentWrapper {
	min-width: 240px;
}
