.root {
	composes: uiVar from './_ui.m.css';
	display: flex !important;
	padding: 0 !important;
	width: var(--h);
	position: relative;
	overflow: hidden;
	text-align: center;
	align-items: center;
	justify-content: center;
	user-select: none;
	background-size: cover;
	line-height: 1;
	flex-shrink: 0;
	font-weight: var(-weight-semibold, 500);
}
.root::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.root.circle {
	border-radius: 50%;
}
.root.square {
	border-radius: 0;
}
.root.rounded {
	border-radius: var(--ui-border-radius-emphasized);
}
