.root {
	composes: uiVar from './_ui.m.css';
	--ah: var(--h,80px);
	display: flex !important;
	padding: 0 !important;
	width: var(--ah);
	min-height: var(--ah);
	position: relative;
	overflow: hidden;
	text-align: center;
	align-items: center;
	justify-content: center;
	user-select: none;
	background-size: cover;
	line-height: 1;
	flex-shrink: 0;
	font-weight: var(-weight-semibold, 500);
}
.root.audio {
	--ah: calc(var(--h,80px) + var(--line2,16px));
	overflow: visible;
}
.root::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.root.circle {
	border-radius: 50%;
}
.root.square {
	border-radius: 0;
}
.root.rounded {
	border-radius: var(--ui-border-radius-emphasized);
}
.canvasWrapper {
	--canvh: calc(var(--ah) * 2);
	position: absolute;
	pointer-events: none;
	left: -50%;
	top: -50%;
}
.canvasWrapper canvas {
	background: transparent;
}
.content {

}
