.root {
	color: var(--text);
}

.listItem,
.listItem::before {
	margin-right: 4px;
}
.listItem:last-child {
	margin-right: 0;
}
.breadcrumb {
	padding-top: 0;
	margin-bottom: 0;
}
.current .breadcrumb {
	color: var(--text-flat);
	font-weight: var(--weight-semibold);
}
