.root {
	position: relative;
	width: 100%;
	max-width: calc(var(--line) * 14 + (var(--grid-base) * 2) + var(--ui-border-width-emphasized, 2px));
	padding: 0 var(--plr, var(--grid-base,8px)) var(--line) var(--plr, var(--grid-base,8px));
	user-select: none;
	background: var(--ui-bg);
	color: var(--text, #000);
	border-radius: var(--ui-border-radius, 2px);
	box-shadow: var(--ui-dp-4);
}
.root.weekendDivider {
	max-width: calc(var(--line) * 14 + (var(--grid-base) * 2) + (var(--ui-border-width-emphasized, 2px) * 2));
}
.root.responsive,
.root.weekendDivider.responsive {
	max-width: 100%;
}
.header {
	position: relative;
	min-height: var(--line);
}
.footer {
	position: relative;
}
.inputHeader {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: calc(var(--grid-base) * 2);
	/* margin-bottom: var(--line,16px); */
}
.isEnd {

}

.rootStart,
.rootEnd::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	border-radius: 50%;
	top: calc(var(--line2, 32px) + var(--pt, 8px) + (var(--ui-border-width-emphasized, 2px) / 2));
}
.rootStart {
	left: 0px;
	background: var(--ui-accent, orange);
}
/* The root class of the calendar end input */
.rootEnd { }
.rootEnd::before {
	right: 0px;
	background: var(--text-disabled, gray);
}
.root.isRange .rootEnd::before,
.root.hasRange .rootEnd::before,
.rootEnd:focus-within::before {
	background: var(--ui-accent, orange);
}
.root:not(.isRange) .rootEnd:focus-within + .rootStart {
	background: var(--text-disabled, gray);
}

.timeInput {

}
.timezoneInput {
	grid-column: auto / span 2;
}
.timezones {
	min-width: 280px;
	width: 100%;
}
.monthTrigger,
.yearTrigger,
.previous,
.next {
	background: none;
	border: 0px;
	margin: 0px;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
}

.monthTrigger,
.yearTrigger {
	padding-right: calc(var(--grid-base) * 0.5);
	padding-left: calc(var(--grid-base) * 0.5);
	font-weight: var(--weight-semibold);
}
.monthTrigger:focus,
.yearTrigger:focus {
	outline: none;
	border-bottom: var(--ui-border-width,1px) solid var(--ui-focus);
	margin-bottom: calc(var(--ui-border-width,1px) * -1);
}
.pickerWrapper {
	display: flex;
}
.datePicker {
	width: 100%;
}
.topMatter {

}

.weekday,
.date {
	width: var(--line2);
	text-align: center;
	position: relative;
	z-index: 0;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.date {
	height: var(--line2);
}
.date:focus {
	outline: none;
}
._0, ._1, ._2, ._3, ._4, ._5, ._6 { }
.weekendDivider { }
.weekendDivider .weekday._0:not(._0:last-child),
.weekendDivider .weekday._5:not(._5:last-child) {
	width: calc(var(--line2) + var(--ui-border-width-emphasized, 2px));
}
.weekendDivider ._0:not(._0:last-child)::after,
.weekendDivider ._5:not(._5:last-child)::after {
	content: '';
	position: absolute;
	right: var(--ui-border-width, 1px);
	top: 0px;
	height: calc(var(--line) * 14);
	width: var(--ui-border-width-emphasized, 2px);
	border-right: var(--ui-border-width-emphasized, 2px) dotted var(--ui-track);
}


.monthFields,
.yearFields {
	border: none;
	padding: 0;
	margin: 0;
}

.inactiveDate {
	opacity: 0.64;
}
.outOfRange {
	color: var(--ui-error, red);
	opacity: 0.8;
}

.yearGrid,
.monthGrid {
	width: 100%;
}
.dateGrid {

}
.isRange {

}
.weekday .abbr {
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text-muted);
}

.selectedDate .dateNumber {
	font-weight: var(--weight-bold, bold);
	color: var(--text-filled);
}

.selectedDate::before,
.selectedDate::after,
.hoverRange::before,
.date:hover::before,
.date:hover::after,
.date:focus::before,
.date:focus::after {
	content: '';
	position: absolute;
	top: calc(var(--line) * -0.25 + (var(--grid-base) / 2));
	width: calc(var(--line2) - var(--grid-base));
	height: calc(var(--line2) - var(--grid-base));
	border-radius: 50%;
	z-index: -2;
}

.todayDate::after {
	content: '';
	position: absolute;
	top: calc(var(--line) * 0.125);
	width: calc(var(--line) * 1.25);
	height: calc(var(--line) * 1.25);
	border-radius: 50%;
	border: var(--ui-border-width-emphasized) solid var(--ui-success, lime);
	box-shadow: var(--ui-dp-2);
	z-index: -1;
}
.selectedDate::before {
	background-color: var(--ui-filled);
}
.date:focus::before,
.date:hover:focus::after,
.selectedDate:focus::after,
.selectedDate:hover:focus::after {
	border: var(--ui-border-width,1px) solid var(--ui-focus);
}

.dateGrid tr:first-of-type td.hoverRange:first-of-type:focus::before,
.dateGrid tr:first-of-type td.hoverRange:first-of-type:hover::before,
.date:not(.selectedDate):not(.hoverRange) + .hoverRange:focus::before,
.date:not(.selectedDate):not(.hoverRange) + .hoverRange:hover::before,
.selectedDate:not(.selectedDate:hover).start::before,
.selectedDate:not(.selectedDate:hover).start::after,
.selectedDate:not(.selectedDate:hover).start:focus::after {
	border-radius: calc((var(--line2) - var(--grid-base) / 2)) 0 0 calc((var(--line2) - var(--grid-base) / 2));
}
.hoverRange::before,
.selectedDate:not(.selectedDate:hover).range::before,
.selectedDate:not(.selectedDate:hover).range::after {
	border-radius: 0;
}
.hoverRange + .hoverRange:focus::before,
.hoverRange + .hoverRange:hover::before,
.selectedDate:not(.selectedDate:hover).end::before,
.selectedDate:not(.selectedDate:hover).end::after,
.selectedDate:not(.selectedDate:hover).end:focus::after {
	border-radius: 0 calc((var(--line2) - var(--grid-base) / 2)) calc((var(--line2) - var(--grid-base) / 2)) 0;
}

.controls {
	min-width: calc(var(--grid-base) * 8);
}
.previous,
.next {
	width: calc(var(--grid-base) * 3);
}
.next {
	margin-left: calc(var(--grid-base) * 2);
}

.yearRadio,
.monthRadio {
	height: var(--line2);
	width: calc(var(--grid-base) * 6);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	z-index: 0;
	margin: 0;
	padding: 0;
}
.monthRadioLabel,
.yearRadioLabel {
	composes: m from './_ui.m.css';
}
.monthRadioLabel::before,
.yearRadioLabel::before {
	position: absolute;
	left: calc(var(--grid-base) * 0.25);
	top: calc(var(--grid-base) * 0.5);
	width: calc(var(--grid-base) * 5.5);
	height: calc(var(--grid-base) * 3.5);
	border-radius: calc(var(--grid-base) * 2);
	content: '';
	z-index: -1;
}
.monthRadioInput:checked + .monthRadioLabel::before,
.yearRadioInput:checked + .yearRadioLabel::before {
	background-color: var(--ui-filled);
}
.hoverRange::before,
.monthRadioInput:not(.monthRadioInput:checked) +.monthRadioLabel:hover::before,
.yearRadioInput:not(.yearRadioInput:checked) +.yearRadioLabel:hover::before,
.date:not(.selectedDate):hover::before {
	background-color: var(--ui-filled-off);
}

.calendarPagingIcon {
	composes: icon from './icon.m.css';
}

.monthRadio,
.monthRadioLabel[title] {
	text-decoration: none;
}

.yearRadioInput,
.monthRadioInput {
	display: none;
}

.disabled.root {
	pointer-events: none;
	filter: grayscale(100%);
}
.readOnly .header,
.readOnly .dateGrid {
	pointer-events: none;
}

.daysGrid {
	display: flex;
	flex-wrap: wrap;
	max-height: calc(var(--line) * 11);
	border-left: var(--ui-border-width) solid var(--border);
  border-top: var(--ui-border-width) solid var(--border);
	overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--ui-flat-off) var(--ui-bg);
}
.dayCell {
  flex: 1 0 50%;
  min-height: var(--line5);
  border-right: var(--ui-border-width) solid var(--border);
  border-bottom: var(--ui-border-width) solid var(--border);
}
.dayCell:empty {
	height: 0;
	border: none;
};
