.root {
	grid-area: captions;
	max-width: var(--w, 100%);
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex-wrap: nowrap;
	z-index: 9;
}
.subCaption {
	display: flex;
	margin-bottom: calc(var(--line) * -1);
	color: var(--text-muted);
}
.root > .subCaption {
	padding: 0px;
}

/* attributions singleAttributions captionWrapper contentWrapper columnName rowName
summary contentCollapsed content meta dates location contentDetailsSummary contentDetails

pageCaption = root */

/* caption ... */
.meta {
	composes: s sans from './_typo.css';
	padding-left: var(--grid-base);
	place-self: start;
}
.meta:empty {
	display: none;
}

.dates {
	z-index: 1;
}
.location {
	--navw: calc(var(--touch-target-min) * 2);
	width: 75%;
	width: calc(var(--w) - var(--navw) - var(--touch-target-min) - var(--grid-base) * 4);
	z-index: 2;
}
.dates + .location {
	margin-left: var(--grid-base);
	width: 65%;
	width: calc(var(--w) - var(--navw) - 10ch - var(--touch-target-min) - var(--grid-base) * 2.5);
}
.content {
	/* composes: serif from './_typo.css'; */
	padding: 0px;
}
.summary {
	padding: 0px;
	margin-bottom: 0px;
}
.captionWrapper {
	margin-top: var(--line);
	order: 3;
}
.meta:empty + .captionWrapper,
.attributions + .captionWrapper {
	margin-top: 0px;
}
.contentDetails {
	order: 3;
	padding-top: var(--pt);
	margin-bottom: 0px;
	max-width: 504px;
	background: var(--bg);
}
.attributions {
	order: 2;
	margin-top: 0px;
	transition: margin-left var(--ui-dpd-4,320ms) var(--ui-easing);
}
.singleAttributions {
	margin-top: var(--line);
}
.contentDetails:not([open]) {
	height: var(--line2);
	margin: 0px;
}
.contentDetails[open] + .attributions {
	margin-left: var(--line);
}

.contentDetailsSummary {
	text-overflow: ellipsis;
	white-space: nowrap;
  width: 100%;
  overflow: hidden;
	outline: none;
	font-weight: var(--weight-semibold);
	padding-left: 4px;
	margin-bottom: var(--mb);
}
.muted {
	color: var(--text-muted);
}
.multiItem .contentDetails {
	transition: margin-top var(--ui-dpd-0,120ms) var(--ui-easing-leave);
	z-index: 9999;
	background: var(--bg);
}
.multiItem .contentDetails[open] {
	transition: margin-top var(--ui-dpd-2,240ms) var(--ui-easing);
	margin-top: calc(var(--line) * (var(--l, 0) + 9) * -1);
}

.root .contentWrapper > .summary {
	margin-bottom: calc(var(--mb) - var(--line));
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	max-width: 64ch;
	padding: 0px;
	order: 5;
}
.contentCollapsed {
	padding: 0 var(--p);
}
/*
.isRow:checked + * .contentWrapper {
	min-width: 38ch;
	flex: 1;
	z-index: 2;
}
.micro.isRow:checked + * .contentWrapper,
.xs.isRow:checked + * .contentWrapper {
	min-width: 240px;
}
*/


/* VIEW */
.root.singleRow .page {
	min-height: calc(var(--line) * 6);
}

.calendarWrapper.closed,
.mapWrapper.closed,
.isRow:checked + * .columnName,
.rowName,
.sensitiveCheckbox:checked ~ .rowName,
.sensitiveCheckbox:checked ~ .columnName,
.sensitiveCheckbox:not(:checked) ~ .summaryPaginated,
.sensitiveCheckbox:checked ~ .contentWrapper,
.sensitiveCheckbox:checked ~ .attachment {
	display: none;
}
.isRow:checked + * .rowName {
	display: block;
}

.isRow:checked + *.multiItem {
	--mw: 480px;
	--mt: calc(var(--pt) * -1);
	--mlr: auto;
	max-width: var(--mw);
	height: calc(var(--line5) + var(--pt));
	margin: var(--mt) var(--mlr) 0 var(--mlr);
}
.isRow:checked + *.multiItem .attributions {
	order: 1;
	width: 50%;
	min-width: 320px;
}
.isRow:checked + *.multiItem .contentDetails {
	order: 2;
	margin-top: var(--line);
	transition: margin-left var(--ui-dpd-4,320ms) var(--ui-easing);
}

@media screen and (max-width: 768px) {
	.isRow:checked + *.multiItem .page {
		display: flex;
		min-height: calc(var(--line) * 7);
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.isRow:checked + *.multiItem .page {
		--s: 0.45; --w: 480px; --mt: var(--pt);
		transform-origin: center top;
		transform: scale(var(--s, 0.5));
		min-width: var(--w, 200%);
		margin-top: var(--mt, 0px);
	}
}

@media screen and (max-width: 768px) {
	.isRow:checked + *.multiItem { --mw: 100%; }
}
@media screen and (min-width: 769px) {
	.isRow:checked + *.multiItem {
		--mw: 240px; --mt: calc((var(--line2) + var(--pt)) * -1);
		height: calc((var(--line) * 12) + var(--pt));
	}
}
@media screen and (min-width: 780px) {
	.isRow:checked + *.multiItem .page { --s: 0.5; --mt: var(--lineHalf); }
}
@media screen and (min-width: 821px) {
	.isRow:checked + *.multiItem { --mt: calc((var(--line3) + var(--pt)) * -1); }
	.isRow:checked + *.multiItem .page { --s: 0.55; --mt: var(--pt); }
}
@media screen and (min-width: 848px) {
	.isRow:checked + *.multiItem .page { --s: 0.6; --mt: 0px; }
}
@media screen and (min-width: 986px) {
	.isRow:checked + *.multiItem { --mt: calc((var(--line4) + var(--pt)) * -1); --mw: 360px; }
	.isRow:checked + *.multiItem .page { --s: 0.65; }
}
@media screen and (min-width: 1110px) {
	.isRow:checked + *.multiItem {
		--mw: 520px;
		--mt: calc((var(--line) + var(--pt)) * -1);
		height: calc((var(--line) * 10) + var(--pt));
	}
	.isRow:checked + *.multiItem .page { --w: 720px; }
}
@media screen and (min-width: 1228px) {
	.isRow:checked + *.multiItem .page { --s: 0.7; }
}
@media screen and (min-width: 1580px) {
	.isRow:checked + *.multiItem { --mlr: var(--lineHalf); }
}
@media screen and (min-width: 1640px) {
	.isRow:checked + *.multiItem { --mlr: var(--line); }
}
@media screen and (min-width: 1950px) {
	.isRow:checked + *.multiItem { --mlr: var(--line2); }
}

@media screen and (min-width: 2120px) {
	.isRow:checked + *.multiItem { --mw: 1040px; --mt: calc(var(--pt) * -1); --mlr: var(--line); }
	.isRow:checked + *.multiItem .page { --w: 1480px; }
}
@media screen and (min-width: 2240px) {
	.isRow:checked + *.multiItem { --mw: 1280px; }
	.isRow:checked + *.multiItem .page { --s: 0.75; }
}
@media screen and (min-width: 2668px) {
	.isRow:checked + *.multiItem { --mlr: var(--line2); }
	.isRow:checked + *.multiItem .page { --s: 0.875; --mt: var(--pt);	}
}
@media screen and (min-width: 2800px) {
	.isRow:checked + *.multiItem { --mw: 1540px; }
}
@media screen and (min-width: 2960px) {
	.isRow:checked + *.multiItem .page { --s: 1; --mt: calc(var(--pt) + var(--gap)); }
}
@media screen and (min-width: 3000px) {
	.isRow:checked + *.multiItem { --mlr: var(--line3); }
}
@media screen and (min-width: 3200px) {
	.isRow:checked + *.multiItem { --mlr: auto; }
}
