.input  {
	display: none;
}
.root {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--l,14);
  -webkit-box-orient: vertical;
	/* TODO only needed for Safari 13/14 */
	height: calc(var(--line) * var(--l,14) + var(--pt));
	margin-bottom: calc(var(--pt) * -1);
}
.input:checked + .root {
	display: inline-block;
	-webkit-line-clamp: unset;
	height: auto;
}
label .more {
	cursor: pointer;
	padding: 0;
	margin: 0 1ch 0 0;
	font-size: inherit;
	font-weight: inherit;
}
.more::before {
	content: '\f078';
	font-family: 'redaktor' !important;
}
.input:checked + .root + label .more::before {
	content: '\f077';
}
.more::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}
