.root {
	padding-bottom: var(--line);
}
.header {
	display: flex;
	align-items: flex-end;
	position: relative;
	width:100%;
	padding: 0px var(--grid-base,8px) 0px 0px;
	border-radius: 0px 0px 0px var(--ui-border-radius-emphasized);
	z-index: 2;
}
.content {
	z-index: 1;
}
.calendarWrapper {
	composes: s sans from './_typo.css';
	background: var(--bg);
	position: absolute;
	z-index: 99;
	width: var(--w,100%);
	left: 0px;
	--plr: var(--line);
}
.root .calendarWrapper {
	padding: 0px;
}

.mapWrapper.closed {
	display: none;
}

.details {
	flex: 0 1 auto;
	margin-right: calc(var(--grid-base,8px) * 2);
	max-width: 88px;
	overflow: hidden;
}
.wideDate .details {
	max-width: 112px;
}
.timeWrapper {
	position:relative;
	padding: 0px;
	text-align: right;
	background: linear-gradient(var(--m-600), var(--m-800) var(--size), var(--paper) var(--size));
	border-radius: var(--ui-border-radius-emphasized) var(--ui-border-radius-emphasized) 0px 0px;
	box-shadow: var(--ui-dp-2);
	list-style: none;
}
.noContent {
	pointer-events: none;
}
.noContent .timeWrapper::-webkit-details-marker {
	display: none;
}
.timeWrapper,
.timeWrapper:focus {
	outline: none;
}
.timeWrapper::-webkit-details-marker {
	position: absolute;
	margin-top: var(--ui-border-width-emphasized);
	left: var(--ui-border-radius-emphasized);
	color: var(--ui-bg);
	z-index: 99;
}
.timeWrapper:hover::-webkit-details-marker {
	color: var(--text);
}
.timeWrapper::after {
	content: "";
	position: absolute;
	top: 0px;
	display: block;
	height: var(--size);
	width: 100%;
	background: linear-gradient(var(--ui-focus), var(--ui-focus-muted));
	border-radius: var(--ui-border-radius-emphasized) var(--ui-border-radius-emphasized) 0px 0px;
	transform: scaleX(0);
	transition: transform var(--ui-dpd-11) var(--ui-easing);
}
.timeWrapper:focus::after {
	transform: scaleX(1);
	transition: transform var(--ui-dpd-11) var(--ui-easing) 16ms;
}
/*
linear-gradient(var(--ui-hover), var(--m-800) var(--size), var(--paper) var(--size));
background: linear-gradient(var(--ui-hover), var(--ui-focus-muted));
*/

.imagesOpen .timeWrapper {
	border-radius: var(--ui-border-radius-emphasized);
}
.time {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0px var(--grid-base,8px) 0px var(--grid-base,8px);
}
.until + .time {
	margin-top: calc(var(--line) * -1);
}
.pastDate .day,
.pastDate .monthYear,
.pastDate .year,
.pastDate .until,
.sameMonthYear {
	color: var(--text-muted);
	font-weight: var(--weight);
}
.timeWrapper:hover .sameMonthYear {
	color: var(--text);
}
.sameDate {
	color: var(--ui-success);
	background: linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 2px),
rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 2px), rgba(0,0,0,0) 100%);
}

.root .until,
.untilSmall {
	position: absolute;
	padding: 0;
	width: 38.2%;
	height: calc(var(--size) * 0.618);
	margin: calc(var(--size) * -0.618) 0px 0px 0px;
	background: var(--m-500);
	left: 0px;
	color: var(--m-500);
	border: none;
}
.root .untilSmall {
	width: 30px;
	height: calc(var(--size) / 2);
	margin: calc(var(--size) * -0.5) 0px 0px 0px;
}
.root .pastDate.until {
	background: var(--m-900);
	color: var(--m-800);
}
.day, .noDay {
	composes: hero from './_typo.css';
}
.root .day {
	font-weight: var(--weight-bold);
	margin: 0px var(--ui-border-width-emphasized) calc(var(--mb) - var(--line2)) 0px;
}
.monthYear {
	text-align: left;
	margin-top: var(--line);
	min-width: 36px;
}
.timeOfDay {
	margin-top: calc(var(--line) * -1);
	white-space: nowrap;
}
.statusByline {
	font-weight: var(--weight-bold);
	margin-top: calc(var(--line) * -1);
}
.eventMeta {
	composes: s italic serif from './_typo.css';
}
.eventMeta,
.eventStatus {
	color: var(--ui-text);
	display: inline-block;
	/* margin-bottom: calc(var(--mb, 16px) - var(--line)); */
}
.timeWrapper .eventStatus {
	position: relative;
	top: var(--line);
	margin-right: var(--grid-base);
	font-weight: var(--weight-bold);
}
.noDay,
.pastDate .eventMeta {
	color: var(--ui-text-muted);
}
.eventAttendance {}
.root .location {
	width: 100%;
	padding: 0px;
	margin-bottom: calc(var(--line) * -1);
}
.root .locationDetails {
	width: calc(var(--w) - 120px)
}
.topWrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-self: stretch;
	z-index: 9;
}
.timeRelativeWrapper {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: var(--ui-filled-off);
}
.status {
	color: var(--ui-text);
}
.attendanceCount {
	color: var(--text-muted);
	margin-right: var(--grid-base);
}
.nameWrapper,
.locationWrapper {
	flex: 0;
	position:relative;
}

.contentWrapper {
	--lt: calc(var(--line) + var(--pt));
	background: linear-gradient(transparent var(--lt), var(--bg) var(--lt));
	margin-bottom: calc(var(--line) * -1);
	z-index: 9;
}
.rateWrapper {
	min-height: var(--line);
	margin-bottom: var(--line);
	padding-left: var(--p, calc(var(--grid-base) * 2));
}

.imageWrapper {
	position: relative;
	width: 100%;
	min-height: calc(var(--l) * var(--line));
	margin-bottom: calc(var(--line) * -2);
	z-index: 1;
}
.imageWrapper.max {
	height: calc(var(--line) * var(--l,19));
	padding-right: var(--grid-base,8px);
}
.imageWrapper.left {
	padding-left: calc(88px + var(--grid-base,8px) * 3);
	padding-right: 0px;
}
.wideDate .imageWrapper.left {
	padding-left: calc(112px + var(--grid-base,8px) * 3);
	padding-right: 0px;
}
.imageLabel {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.imagesLoaded {
	visibility: hidden;
	position: absolute;
	top: -4000px;
	height: 0px;
}
.imagesWrapper {
	margin-top: var(--line);
}
.captionWrapper { }
.root .inLanguage {
	padding-left: calc(var(--grid-base) * 3);
}
.imagesLoaded:checked + .imageWrapper,
.imagesWrapper {
	display: none;
}
.imagesLoaded:checked + .imageWrapper + .imagesWrapper {
	display: block;
}
.moreCount {
	composes: moreCount from './locationsDates.m.css';
}
.imageWrapper .moreCount {
	--rt: calc(var(--lineHalf) - var(--pt) - var(--ui-border-width-emphasized));
	left: auto;
	right: var(--rt);
	top: var(--rt);
	max-width: var(--line2);
	max-height: var(--line2);
	z-index: 99;
}
.imageWrapper:hover .moreCount {
	background-color: var(--ui-border-hover, #333);
}
.moreCount,
.moreCount * {
	text-align: center;
}
.root .locationMoreCount {
	right: var(--grid-base,8px);
	left: auto;
}
.cancelled::after {
	content: "";
	display: block;
	position: absolute;
	width: var(--w);
	height: calc(100% - var(--line3));
	background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 8px),
	var(--ui-error) calc(50% - 8px), var(--ui-error) calc(50% + 8px), rgba(0,0,0,0) calc(50% + 8px), rgba(0,0,0,0) 100%);
	z-index: 99;
	opacity: 0.5;
}
.postponed .timeWrapper,
.cancelled .timeWrapper {
	opacity: 0.8;
}
.postponed .eventAttendance,
.cancelled .eventAttendance,
.postponed .nameWrapper,
.cancelled .nameWrapper,
.postponed .locationWrapper,
.cancelled .locationWrapper,
.cancelled .content {
	opacity: 0.64;
}
