.root {

	position: relative;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.row {

}

.primary {

}

.secondary {

}

.leading {
	align-items: center;
	display: flex;
	padding: 0 12px;
}

.title {

}

.action {
	
	margin: 0 12px;
}

.trailing {
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 12px;
	align-items: center;
	display: flex;
}

.spacer {
	height: 64px;
}
