.root {
	width: 100%;
	display: grid;
  grid-gap: 4px; /* TODO gap property */
  grid-template-columns: repeat(auto-fill, minmax(160px,1fr)); /* TODO min property */
  grid-auto-rows: var(--line, 16px);
	background-color: var(--ui-bg, #000);
	order: 7;
}
.row {
	
}
/* TODO native masonry */
@supports (grid-template-rows: masonry) {
	.micro .root { --mcols: 1; --gap: 0; }
	.xs .root { --mcols: 2; --gap: 0; }
	.s .root { --mcols: 2; }
	.m .root { --mcols: 3; }
	.l .root { --mcols: 4; }
	.xl .root { --mcols: 5; }
	.xxl .root { --mcols: 6; --gap: calc(var(--grid-base, 8px) * 2); }
  .root {
		gap: var(--gap, var(--grid-base, 8px));
	  grid-template-columns: repeat(var(--mcols, 2), 1fr);
	  grid-template-rows: masonry;
	}
	.root figure > img {
	  grid-row: 1 / -1;
	  grid-column: 1;
	}
}
