.root {
	width: 100%;
	margin-bottom: calc(var(--line) * var(--mml,0));
	background-color: var(--ui-bg, #000);
	order: 7;
}
.root.hasPagination {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-around;
	padding-bottom: var(--line);
}
.page {
	position: relative;
	overflow: hidden;
	order: 1;
}
.firstControl { }
.lastControl { }
.prevControl {
	display: none;
	order: 2;
}
.nextControl {
	display: none;
	order: 4;
}
.root:not(.row) .page {
	display: grid;
	grid-gap: 4px; /* TODO gap property */
	grid-template-columns: repeat(auto-fill, minmax(160px,1fr)); /* TODO min property */
	grid-auto-rows: var(--line, 16px);
}
.row .page {
	display: flex;
}
.root:not(.row) .pageRadio:not(:checked) + .prevControl + .nextControl + .page {
	display: none;
}

label.prevControl, label.nextControl {
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.pageRadio {
	display: none;
	order: 3;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50%;
	width: var(--line);
	height: var(--line);
	border: var(--ui-border-width-emphasized) solid var(--text-muted, #999);
	transition: 0.2s all linear;
	margin: var(--lineHalf) 0 0 0;
	padding: 0;
	z-index: 2;
	cursor: pointer;
}
.loaded .pageRadio,
.loaded:not(.row) .pageRadio:checked + .prevControl,
.loaded:not(.row) .pageRadio:checked + .prevControl + .nextControl {
	display: block;
}
.pageRadio:checked {
	border-color: var(--ui-border, #999);
}
/* TODO native masonry */
@supports (grid-template-rows: masonry) {
	.micro .page { --mcols: 1; --gap: 0; }
	.xs .page { --mcols: 2; --gap: 0; }
	.s .page { --mcols: 2; }
	.m .page { --mcols: 3; }
	.l .page { --mcols: 4; }
	.xl .page { --mcols: 5; }
	.xxl .page { --mcols: 6; --gap: calc(var(--grid-base, 8px) * 2); }
  .page {
		gap: var(--gap, var(--grid-base, 8px));
	  grid-template-columns: repeat(var(--mcols, 2), 1fr);
	  grid-template-rows: masonry;
	}
	.page figure img {
	  grid-row: 1 / -1;
	  grid-column: 1;
	}
}
