.root {
	display: grid;
	place-content: start;
	place-items: start;
	grid-template: "top" "media";
	width: 100%;
	padding: 0px;
	position: relative;
}
.root.multiItem {
	margin: 0px;
}
.isRow { }
.loaded { }
.lightImage, .darkImage { }
.noscript { }
.figure {
	position: relative;
	width: var(--w);
}
.hasPagination.multiItem .figure {
	position: static;
}
.singleImage .figure,
.hasPagination {
	padding-top: var(--line2);
}
.pageRadio[data-i="1"] { --i: 0; } .pageRadio[data-i="2"] { --i: 1; } .pageRadio[data-i="3"] { --i: 2; }
.pageRadio[data-i="4"] { --i: 3; } .pageRadio[data-i="5"] { --i: 4; } .pageRadio[data-i="6"] { --i: 5; }
.pageRadio[data-i="7"] { --i: 6; } .pageRadio[data-i="8"] { --i: 7; } .pageRadio[data-i="9"] { --i: 8; }
/* A "page" with images */
.page {
	--minWidth: 240px;
	--gap: 4px;
	display: grid;
	grid-gap: var(--gap, var(--grid-base, 8px));
	grid-template-columns: repeat(auto-fill, minmax(calc((var(--minWidth) / 2) - var(--gap)), 1fr));
	grid-auto-rows: calc(var(--line) - var(--gap));
	padding-bottom: var(--gap, var(--grid-base, 8px));
	/* min-height: calc(var(--line) * 12); */
	width: 100%;
	position: relative;
	order: 5;
	z-index: 2;
}
.firstPage { }
.twoItems.page {
	padding: 0;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr;
}

.hasCounter .page::before {
	content: attr(data-count);
	color: var(--text-muted);
	margin: 0px calc(var(--line2) * -1) 0px 0px;
	padding: 0px;
	order: 2;
	position: absolute;
	top: calc(var(--line) * -1.5);
	right: 50%;
	width: var(--line5);
	justify-content: center;
	text-align: center;
	z-index: -1;
	pointer-events: none;
}
.singleItem.hasCounter .page::before {
	margin: 0px;
	top: calc(var(--line) * -2 + var(--pt));
	right: 0px;
}
.navBottom .page {
	order: 0;
}
.root.singleItem .page {
	grid-area: media;
	grid-template-columns: 100%;
	place-content: center;
	place-items: start;
	min-height: unset;
}
.root.multiItem .page {

}
/* The captions for the "page" */
.pageCaption {
	grid-area: captions;
	max-width: var(--w, 100%);
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex-wrap: nowrap;
	z-index: 9;
}
.subCaption {
	display: flex;
	margin-bottom: var(--minusLine);
	color: var(--text-muted);
}
.pageCaption > .subCaption {
	padding: 0px;
}
.sensitiveSummary { }
.isRow:checked + * .root .sensitiveSummary {
	display: none;
}

/* The snap-scrolling selection of images */
.scrollWrapperLabel {
	position: absolute;
	top: calc((var(--lineHalf) - var(--pt)) * -1);
	display: inline-block;
	text-align: center;
	padding-top: var(--lineHalf);
	margin: 0px;
	width: var(--touch-target-min);
	height: var(--touch-target-min);
	cursor: pointer;
	z-index: 99;
}
.dateOpen .scrollWrapperLabel {
	display: none;
}
.pageRadio:checked + .scrollWrapperLabel {
	top: calc(var(--line) * 7 - var(--pt));
}
.scrollWrapper {
	grid-area: top;
	overflow-x: auto;
  white-space: nowrap;
  width: 100%;
	height: calc(var(--line) * 6);
	z-index: 1;
	margin-bottom: var(--line);
	display: none;
}
.pageRadio:checked + .scrollWrapperLabel + .scrollWrapper {
  display: flex;
}
/* 2018 spec - For Safari 11, Chrome 69+ */
.snap {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Needed to work on iOS Safari */
}
.snap > * {
  scroll-snap-align: start;
}
/* 2015 spec - For Firefox, Edge, IE */
.snap {
	--step: calc(var(--line) * 15);
  scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(var(--step, 100%));
  -ms-scroll-snap-points-x: repeat(var(--step, 100%));
}
.scrollWrapper > * {
	min-width: var(--line5);
}
.snap::-webkit-scrollbar {
  width: 11px;
}
.snap {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-flat-off) var(--ui-bg);
}
.snap::-webkit-scrollbar-track {
  background: var(--ui-bg);
}
.snap::-webkit-scrollbar-thumb {
  background-color: var(--ui-flat-on);
  border-radius: 6px;
  border: 3px solid var(--ui-bg);
}

.media {
	position: relative;
	overflow: hidden;
	grid-row-end: span var(--l, auto);
}
.snap .media {
	display: flex;
	align-self: flex-end;
	align-items: flex-end;
	margin: 0px;
	padding: 0px;
}
.singleItem .page > .media {
	grid-row-end: span min(var(--maxl, 9999), var(--l, auto));
}
.m9by16 { --l: 11; }
.m2by3 { --l: 10; }
.m3by4 { --l: 9; }
.m4by5 { --l: 8; }
.m6by7 { --l: 7; }
.m1by1, .m7by6 { --l: 6; }
.m5by4, .m4by3 { --l: 5; }
.m3by2, .m37by20, .m16by10, .m16by9 { --l: 4; }
.m16by7, .m21by9, .m8by3, .m3by1 { --l: 3; }
.m16by5, .m9by2 { --l: 2; }

.m9by16 { --wl: 9; --hl: 16; }
.m2by3 { --wl: 8; --hl: 12; }
.m3by4 { --wl: 9; --hl: 12; }
.m4by5 { --wl: 12; --hl: 15; }
.m6by7 { --wl: 10; --hl: 12; }
.m1by1 { --wl: 12; --hl: 12; }
.m7by6 { --wl: 12; --hl: 10; }
.m5by4 { --wl: 11; --hl: 9; }
.m4by3 { --wl: 12; --hl: 9; }
.m3by2 { --wl: 12; --hl: 8; }
.m37by20 { --wl: 11; --hl: 6; }
.m16by10 { --wl: 11; --hl: 7; }
.m16by9 { --wl: 16; --hl: 9; }
.m16by7 { --wl: 14; --hl: 6; }
.m21by9 { --wl: 16; --hl: 7;  }
.m8by3 { --wl: 16; --hl: 6;  }
.m3by1 { --wl: 15; --hl: 5; }
.m16by5 { --wl: 16; --hl: 5; }
.m9by2 { --wl: 18; --hl: 4; }

@media screen and (max-width: 780px),
screen and (min-width: 980px) and (max-width: 1088px) {
	.m3by2 { --wl: 9; --hl: 6; }
}
/*
TODO above
@media screen and (min-width: 780px) { XL }
@media screen and (min-width: 980px) { L }
@media screen and (min-width: 1088px) { XL }
<-- */


.fix1by1 img {
	height: calc(var(--line) * 6);
	object-fit: contain;
}
.scrollWrapper .fix1by1 img {
	height: calc(var(--line) * 5);
}
.hasPagination {
	--sensitivecbtop: calc(var(--touch-target-min, 40px) * 2);
}

.hasPagination.multiItem {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.hasPagination.hasCounter.multiItem {
	justify-content: center;
}

.break {
	order: 4;
}
.page,
.control {
	--controlgap: calc(var(--line2) + var(--pr,var(--grid-base,8px)) * 2);
}
.control {
	align-items: center;
	justify-content: center;
	min-width: var(--line2);
	min-height: var(--line2);
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	color: var(--text);
	transition: color var(--ui-dpd-0,80ms) var(--ui-easing);
	user-select: none;
}
.control:focus {
	outline: none;
}
.control > * {
	margin: 0 !important;
	padding: 0 !important;
}
.prev.control {
	order: 1;
}
.next.control {
	order: 3;
}
.prev.control, .next.control {
	position: relative;
}
.meta {
	composes: s sans from './_typo.css';
	padding-left: var(--grid-base);
	place-self: start;
}
.meta:empty {
	display: none;
}

.calendarWrapper {
	display: flex;
	justify-content: space-between;
	composes: s sans from './_typo.css';
	padding-left: var(--grid-base);
}
.calendar {
	margin-top: calc(var(--pt) * -1);
	margin-bottom: var(--pt);
}
.dates {
	z-index: 1;
}
.time {
	color: var(--text-muted);
}
.mapWrapper {

}
.location {
	--navw: calc(var(--touch-target-min) * 2);
	width: 75%;
	width: calc(var(--w) - var(--navw) - var(--touch-target-min) - var(--grid-base) * 4);
	z-index: 2;
}
.dates + .location {
	margin-left: var(--grid-base);
	width: 65%;
	width: calc(var(--w) - var(--navw) - 10ch - var(--touch-target-min) - var(--grid-base) * 2.5);
}
.firstControl { }
.lastControl { }
.homeControl { }

.singleItem .pageRadio,
.hasCounter .pageRadio {
	visibility: hidden;
	position: absolute;
	top: -4000px;
	height: 0px;
}

.singleItem .meta,
.singleItem .control {
	display: flex;
	z-index: 8;
	align-items: flex-start;
	padding-top: var(--pt);
}
.singleItem .control {
	grid-area: navigation;
	place-self: start right;
	margin: 0px;
}
.singleItem .meta {
	position: absolute;
	top: 0px;
}
.singleItem:not(.singleImage) .meta {
	margin: 0px 0px 0px var(--touch-target-min);
}


/*
.singleItem .control.homeControl {
	place-self: start left;
	margin-left: -12px;
}
.singleItem .pageRadio:first-of-type:checked ~ .control.homeControl {
	display: none;
}
*/
.isRow:checked + * .singleItem .control:not(.meta) {
	grid-area: media;
	place-self: start left;
	margin-top: var(--lineHalf);
}
.isRow:checked + * .singleItem .meta {
	order: 4;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: auto;
}
.singleItem .control:not(.homeControl)::after {
	content: "";
	position: absolute;
	top: calc(var(--grid-base,8px) * -1);
	width: calc(var(--touch-target-min, 40px) + var(--pr,var(--grid-base,8px)));
	height: calc(var(--touch-target-min, 40px) * 2);
}

.singleItem .prev.control {
	margin-right: var(--controlgap);
}
.isRow:checked + * .singleItem .prev.control {
	margin-left: var(--pr,var(--grid-base,8px));
}
.isRow:checked + * .singleItem .next.control {
	margin-left: var(--controlgap);
}

.multiItem .control {
	display: none;
}
.hasCounter.multiItem .control {
	margin: 0px calc(var(--grid-base,8px) * 2);
}
.multiItem .pageRadio:checked + .prev.control,
.multiItem .pageRadio:checked + .prev.control + .next.control,
.multiItem .pageRadio {
	display: flex;
	position: absolute;
	top: var(--ui-border-width-emphasized);
	margin: 0px;
}
.multiItem .pageRadio {
	--remainhalf: calc(50% - (var(--touch-target-min) * var(--pagecount) / 2));
	left: calc(var(--touch-target-min) * var(--i) + var(--remainhalf) + (var(--grid-base,8px) / 2));
}
.multiItem .pageRadio:checked + .prev.control {
	left: var(--grid-base,8px);
}
.multiItem .pageRadio:checked + .prev.control + .next.control {
	right: var(--grid-base,8px);
}
.pageRadio:not(:checked) + .prev.control + .next.control + .page,
.pageRadio:not(:checked) + .prev.control + .next.control + .page + .pageCaption {
	display: none;
}

.multiItem:not(.hasCounter) .pageRadio,
.multiItem:not(.hasCounter) .pageRadio::after {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.multiItem:not(.hasCounter) .pageRadio {
	height: var(--touch-target-min);
	width: calc(var(--touch-target-min) - var(--grid-base,8px));
	order: 2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: var(--ui-dpd-0,80ms) all var(--ui-easing);
	margin: 0px;
	padding: 0px;
	z-index: 2;
	cursor: pointer;
}
.multiItem:not(.hasCounter) .pageRadio::after {
	content: attr(data-i);
	height: var(--line);
	width: var(--line);
	border: var(--ui-border-width-emphasized) solid var(--paper, #999);
	background-color: var(--paper, #999);
	border-radius: 50%;
	color: transparent;
}
.multiItem:not(.hasCounter) .pageRadio:hover::after {
	color: var(--text-muted);
}
.multiItem:not(.hasCounter) .pageRadio:checked::after {
	color: var(--text);
}
.multiItem .pageRadio:checked::after {
	border-color: var(--ui-border, #999);
	background-color: transparent;
	color: var(--text);
}
@media (any-hover: hover) {
	.scrollWrapper.desaturateScroll {
		transition: filter var(--ui-dpd-2,240ms) var(--ui-easing);
		filter: grayscale(1) opacity(0.618);
	}
	.scrollWrapper.desaturateScroll:hover {
		filter: grayscale(0) opacity(1);
	}

	.isRow:checked + * .scrollWrapper.desaturateScroll {
		filter: unset;
	}

	.root:not(.hasCounter) .pageRadio:not(:checked)::after {
		border-color: var(--paper, #999);
	}
	.root:not(.hasCounter) .pageRadio:not(:checked):hover::after {
		border-color: var(--border, #666);
	}
	.scrollWrapperLabel,
	.control {
		color: var(--text-muted);
	}
	.scrollWrapperLabel:hover,
	.control:hover {
		color: var(--ui-filled, #eee);
	}
	.root .scrollWrapperLabel:focus,
	.root .prev.control:focus,
	.root .next.control:focus {
		outline: none;
		color: var(--ui-focus, #fff);
	}

	.root .snap::-webkit-scrollbar-thumb {
	  background-color: var(--ui-flat-off);
	}
	.root .snap:hover::-webkit-scrollbar-thumb {
	  background-color: var(--ui-flat-on);
	}

	.singleItem .control,
	.singleItem .page {
		transition: color var(--ui-dpd-0,80ms) var(--ui-easing);
	}
	.singleItem .control:not(.homeControl) {
		display: none;
	}
	.singleItem.hasCounter .page::before,
	.singleItem .pageRadio:checked + .prev.control,
	.singleItem .pageRadio:checked + .prev.control + .next.control,
	.singleItem .pageRadio:checked + .prev.control + .next.control + .page + .pageCaption {
		display: flex;
	}
}

/* native masonry */
@supports (grid-template-rows: masonry) {
	.micro .page { --mcols: 1; --gap: 0; }
	.xs .page { --mcols: 2; --gap: 0; }
	.s .page { --mcols: 2; }
	.m .page { --mcols: 3; }
	.l .page { --mcols: 4; }
	.xl .page { --mcols: 5; }
	.xxl .page { --mcols: 6; --gap: calc(var(--grid-base, 8px) * 2); }
  .page {
	  grid-template-columns: repeat(var(--mcols, 2), 1fr);
	  grid-template-rows: masonry;
	}
	.page figure img {
	  grid-row: 1 / -1;
	  grid-column: 1;
	}
}

/* caption ... */
.content {
	/* composes: serif from './_typo.css'; */
	padding: 0px;
}
.summary {
	padding: 0px;
	margin-bottom: 0px;
}
.captionWrapper {
	margin-top: var(--line);
	order: 3;
}
.root .hasChildren.captionWrapper .locales {
	margin-bottom: var(--minusLine);
}
.meta:empty + .captionWrapper,
.attributions + .captionWrapper {
	margin-top: 0px;
}
.contentDetails {
	order: 3;
	padding-top: var(--pt);
	margin-bottom: 0px;
	max-width: 504px;
	background: var(--bg);
}
.attributions {
	order: 2;
	margin-top: -1px; /* TODO */
	transition: margin-left var(--ui-dpd-4,320ms) var(--ui-easing);
}
.singleAttributions {
	margin-top: var(--line);
}
.contentDetails:not([open]) {
	height: var(--line2);
	margin: 0px;
}
.contentDetails[open] + .attributions {
	margin-left: var(--line);
}

.contentDetailsSummary {
	text-overflow: ellipsis;
	white-space: nowrap;
  width: 100%;
  overflow: hidden;
	outline: none;
	font-weight: var(--weight-semibold);
	padding-left: 4px;
	margin-bottom: var(--mb);
}
.muted {
	color: var(--text-muted);
}
.multiItem .contentDetails {
	transition: margin-top var(--ui-dpd-0,120ms) var(--ui-easing-leave);
	z-index: 9999;
	background: var(--bg);
}
.multiItem .contentDetails[open] {
	transition: margin-top var(--ui-dpd-2,240ms) var(--ui-easing);
	margin-top: calc(var(--line) * (var(--l, 0) + 9) * -1);
}

.root .contentWrapper > .summary {
	margin-bottom: calc(var(--mb) - var(--line));
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	max-width: 64ch;
	padding: 0px;
	order: 5;
}
.contentCollapsed {
	padding: 0 var(--p);
}
.moreCount { }
/*
.isRow:checked + * .contentWrapper {
	min-width: 38ch;
	flex: 1;
	z-index: 2;
}
.micro.isRow:checked + * .contentWrapper,
.xs.isRow:checked + * .contentWrapper {
	min-width: 240px;
}
*/


/* VIEW */
.root.singleRow .page {
	min-height: calc(var(--line) * 6);
}

.calendarWrapper.closed,
.mapWrapper.closed,
.isRow:checked + * .columnName,
.rowName,
.sensitiveCheckbox:checked ~ .rowName,
.sensitiveCheckbox:checked ~ .columnName,
.sensitiveCheckbox:not(:checked) ~ .summaryPaginated,
.sensitiveCheckbox:checked ~ .contentWrapper,
.sensitiveCheckbox:checked ~ .attachment {
	display: none;
}
.isRow:checked + * .rowName {
	display: block;
}

.isRow:checked + *.multiItem {
	--mw: 480px;
	--mt: calc(var(--pt) * -1);
	--mlr: auto;
	max-width: var(--mw);
	height: calc(var(--line5) + var(--pt));
	margin: var(--mt) var(--mlr) 0 var(--mlr);
}
.isRow:checked + *.multiItem .attributions {
	order: 1;
	width: 50%;
	min-width: 320px;
}
.isRow:checked + *.multiItem .contentDetails {
	order: 2;
	margin-top: var(--line);
	transition: margin-left var(--ui-dpd-4,320ms) var(--ui-easing);
}

@media screen and (max-width: 768px) {
	.isRow:checked + *.multiItem .page {
		display: flex;
		min-height: calc(var(--line) * 7);
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.isRow:checked + *.multiItem .page {
		--s: 0.45; --w: 480px; --mt: var(--pt);
		transform-origin: center top;
		transform: scale(var(--s, 0.5));
		min-width: var(--w, 200%);
		margin-top: var(--mt, 0px);
	}
}

@media screen and (max-width: 768px) {
	.isRow:checked + *.multiItem { --mw: 100%; }
}
@media screen and (min-width: 769px) {
	.isRow:checked + *.multiItem {
		--mw: 240px; --mt: calc((var(--line2) + var(--pt)) * -1);
		height: calc((var(--line) * 12) + var(--pt));
	}
}
@media screen and (min-width: 780px) {
	.isRow:checked + *.multiItem .page { --s: 0.5; --mt: var(--lineHalf); }
}
@media screen and (min-width: 821px) {
	.isRow:checked + *.multiItem { --mt: calc((var(--line3) + var(--pt)) * -1); }
	.isRow:checked + *.multiItem .page { --s: 0.55; --mt: var(--pt); }
}
@media screen and (min-width: 848px) {
	.isRow:checked + *.multiItem .page { --s: 0.6; --mt: 0px; }
}
@media screen and (min-width: 986px) {
	.isRow:checked + *.multiItem { --mt: calc((var(--line4) + var(--pt)) * -1); --mw: 360px; }
	.isRow:checked + *.multiItem .page { --s: 0.65; }
}
@media screen and (min-width: 1110px) {
	.isRow:checked + *.multiItem {
		--mw: 520px;
		--mt: calc((var(--line) + var(--pt)) * -1);
		height: calc((var(--line) * 10) + var(--pt));
	}
	.isRow:checked + *.multiItem .page { --w: 720px; }
}
@media screen and (min-width: 1228px) {
	.isRow:checked + *.multiItem .page { --s: 0.7; }
}
@media screen and (min-width: 1580px) {
	.isRow:checked + *.multiItem { --mlr: var(--lineHalf); }
}
@media screen and (min-width: 1640px) {
	.isRow:checked + *.multiItem { --mlr: var(--line); }
}
@media screen and (min-width: 1950px) {
	.isRow:checked + *.multiItem { --mlr: var(--line2); }
}

@media screen and (min-width: 2120px) {
	.isRow:checked + *.multiItem { --mw: 1040px; --mt: calc(var(--pt) * -1); --mlr: var(--line); }
	.isRow:checked + *.multiItem .page { --w: 1480px; }
}
@media screen and (min-width: 2240px) {
	.isRow:checked + *.multiItem { --mw: 1280px; }
	.isRow:checked + *.multiItem .page { --s: 0.75; }
}
@media screen and (min-width: 2668px) {
	.isRow:checked + *.multiItem { --mlr: var(--line2); }
	.isRow:checked + *.multiItem .page { --s: 0.875; --mt: var(--pt);	}
}
@media screen and (min-width: 2800px) {
	.isRow:checked + *.multiItem { --mw: 1540px; }
}
@media screen and (min-width: 2960px) {
	.isRow:checked + *.multiItem .page { --s: 1; --mt: calc(var(--pt) + var(--gap)); }
}
@media screen and (min-width: 3000px) {
	.isRow:checked + *.multiItem { --mlr: var(--line3); }
}
@media screen and (min-width: 3200px) {
	.isRow:checked + *.multiItem { --mlr: auto; }
}
