.root {
	flex-basis: 100%;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	background-size: cover;
	margin: 0px;
	padding: 0px 0px var(--line) 0px;
	background-color: var(--bg);
}
.row { }
.column { }
.hasFocalPoint { }
.xs, .s, .m, .l, .xl, .xxl { }
.mini, .medium, .large { }
.darkImage, .lightImage { }
.breaked {
  flex-basis: 100%;
  height: 0;
}
.media {
	composes: h1 from './_typo.css';
	position: relative;
	width: 100%;
	margin-bottom: calc(var(--line) * var(--mml,0));
	padding: 0;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	overflow: hidden;
	color: var(--text-muted);
	background-color: var(--bg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; /*contain;*/
	z-index: 4;
	cursor: pointer;
}
/* not used here, when the blurhash faded to the main image */
.faded { }
.measure {
	position: absolute;
	width: 100%;
	height: 1px;
	top: -1px;
}
.picture {

}

.image, .canvas {
	display: block;
	margin: 0px;
	padding: 0px;
  max-width: var(--maxw,100%);
	max-height: var(--maxh,100%);
	height: auto;
}

.canvas {
	position: absolute;
	left: 0px;
	width: 100%;
	transition: opacity var(--ui-dpd-2,240ms) var(--ui-easing);
}
.root.fit,
.media.fit,
.fit .picture {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

/* cover / contain fallback */
.media.cover,
.media.contain {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.media.cover.left,
.media.contain.left {
	justify-content: flex-end;
}
.media.cover.right,
.media.contain.right {
	justify-content: flex-end;
}
/* img.image overwrites browser defaults … */
.media.cover .canvas,
.media.cover .image,
.media.cover img.image,
.media.contain .canvas,
.media.contain .image,
.media.contain img.image {
	width: auto;
	height: 100%;
}
.media.left .canvas,
.media.left .image {
	margin-right: auto;
}
.media.right .canvas,
.media.right .image {
	margin-left: auto;
}
@supports(object-fit: cover) {
	.root > .media:not(.hasFocalPoint) .canvas,
	.root > .media:not(.hasFocalPoint) .image {
		object-fit: cover;
		object-position: 50% 50%;
		height: calc(var(--line) * var(--l));
	}
	.root > .media.contain:not(.hasFocalPoint) .canvas,
	.root > .media.contain:not(.hasFocalPoint) .image {
		object-fit: contain;
	}
	.media.cover,
	.media.contain {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.media.cover {
		object-fit: cover;
	}
	.media.contain {
		object-fit: contain;
	}
	/* img.image overwrites browser defaults … */
	.media.cover .canvas,
	.media.cover .image,
	.media.cover img.image,
	.media.contain .canvas,
	.media.contain .image,
	.media.contain img.image {
		width: auto;
		height: auto;
	}
	.root.fit,
	.media.fit,
	.media.ratio,
	.ratio .picture,
	.fit .picture {
		object-fit: cover;
		object-position: 50%;
	}
	.media.ratio .canvas,
	.media.ratio .image,
	.media.fit .canvas,
	.media.fit .image {
		object-fit: cover;
		min-height: 100%;
	}
}

.portraitVideo, ._9_16 { --apt: 177.77777777%; --ar: 9 / 16; }
.portraitPhoto, ._2_3 { --apt: 150%; --ar: 2 / 3; }
._3_4 { --apt: 133.33333333%; --ar: 3 / 4; }
._4_5 { --apt: 125%; --ar: 4 / 5; }
._6_7 { --apt: 116.66666666%; --ar: 6 / 7; }

.square, ._1_1 { --apt: 100%; --ar: 1 / 1; }
._7_6 { --apt: 85.714285714%; --ar: 7 / 6; }
._5_4 { --apt: 80%; --ar: 5 / 4; }
._4_3 { --apt: 75%; --ar: 4 / 3; }
.photo, ._3_2 { --apt: 66.66666666%; --ar: 3 / 2; }
._16_10 { --apt: 62.5%; --ar: 16 / 10; }
.video, ._16_9 { --apt: 56.25%; --ar: 16 / 9; }
.cinema, ._37_20 { --apt: 54.054054%; --ar: 37 / 20; }
._16_7 { --apt: 43.75%; --ar: 16 / 7; }
.cinemaWide, ._21_9 { --apt: 42.85714285%; --ar: 21 / 9; }
._8_3 { --apt: 37.5%; --ar: 8 / 3; }
.apsP, ._3_1 { --apt: 33.33333333%; --ar: 3 / 1; }
._16_5 { --apt: 31.25%; --ar: 16 / 5; }
._10_3 { --apt: 30%; --ar: 10 / 3; }
.pano3, ._9_2 { --apt: 22.22222222%; --ar: 9 / 2; }
.pano4, ._12_2 { --apt: 16.66666666%; --ar: 12 / 2; }
@supports not (aspect-ratio: 16 / 9) {
	.media.ratio::before {
	  content: "";
	  padding-top: var(--apt, 56.25%);
	  float: left;
	}
	.media.ratio::after {
	  clear: left;
	  content: " ";
	  display: table;
	}
}
.media.ratio {
	aspect-ratio: var(--ar, 16 / 9) !important;
}

.media.loaded > .canvas,
.media:not(.loaded) > *:not(i) + .picture {
	position: absolute;
	left: 0px;
}
.media.fit > .picture {
	height: 100%;
}
.image {
	transition: transform var(--ui-dpd-4,372ms) var(--ui-easing);
}
.media.scale:not(.sensitive) .image:hover {
	transform: scale(1.0618);
}
.sensitive.media {

}
.sensitiveCheckbox {
	visibility: hidden;
	position: absolute;
	top: -4000px;
}
.sensitiveCheckbox,
.sensitiveCheckbox:checked + .media .picture {
	opacity: 0;
}
.sensitiveLabel {
	composes: h3 from './_typo.css';
	color: var(--text);
	position: absolute;
	top: var(--sensitivecbtop,0px);
	right: 0px;
	width: var(--touch-target-min, 40px);
	height: var(--touch-target-min, 40px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 7;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background-color: var(--ui-bg-opaque);
	border-top-left-radius: var(--ui-border-radius-emphasized);
	border-bottom-left-radius: var(--ui-border-radius-emphasized);
}
.sensitiveLabel::after,
.sensitiveCheckbox:checked + .media::after {
	position: absolute;
	display: inline-block;
	transition: color var(--ui-dpd-2,240ms) var(--ui-easing);
}
.sensitiveLabel::after {
	font-family: 'redaktor' !important;
	speak: never;
	color: inherit;
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
}
.sensitiveCheckbox:not(:disabled):checked + .media .sensitiveLabel::after {
	content: '\f06e';
}
.sensitiveCheckbox:not(:disabled):not(:checked) + .media .sensitiveLabel::after {
	content: '\f070';
}
.sensitiveCheckbox:disabled + .media .sensitiveLabel {
	pointer-events: none;
}
.sensitiveCheckbox:checked + .media::after {
	content: 'NSFW';
	z-index: 7;
	font: inherit;
	transition: color var(--ui-dpd-2,240ms) var(--ui-easing);
}

.darkImage .sensitiveCheckbox:checked + .media:hover {
	color: rgba(255, 255, 255, 0.8);
}
.darkImage .sensitiveLabel:hover {
	color: #fff;
}
.lightImage .sensitiveCheckbox:checked + .media:hover {
	color: rgba(0, 0, 0, 0.8);
}
.lightImage .sensitiveLabel:hover {
	color: #000;
}

/* only js autofade, note must be animation for listener */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.sensitiveCheckbox + .media > .canvas {
	opacity: 0.5;
}
.sensitiveCheckbox + .media:hover > .canvas {
	opacity: 1;
}

.sensitiveCheckbox:not(:checked) + .media .picture > .image,
.media > *:not(i) + .picture > .image {
	opacity: 0;
}
.media:not(.sensitive).loaded > *:not(i) + .picture > .image {
	animation: fadein var(--ui-dpd-4,372ms) var(--ui-easing) 0ms forwards;
}
.sensitiveCheckbox:not(:checked) + .loaded .picture > .image {
	animation: fadein var(--ui-dpd-8,440ms) var(--ui-easing) 0ms forwards;
}
/* <-- */

.sensitiveSummary {
	z-index: 9;
	position: absolute;
	bottom: 0px;
	background-color: var(--ui-bg-opaque);
	transition: opacity var(--ui-dpd-2,240ms) var(--ui-easing);
}
.sensitiveCheckbox:not(:checked) + .faded .sensitiveSummary {
	pointer-events: none;
	opacity: 0;
}
.root .summary {
	padding: 0;
	margin-bottom: 0;
}
.sensitiveCheckbox:checked ~ .summaryPaginated {
	background-color: var(--ui-bg-opaque);
	z-index: 99;
	margin-top: calc(var(--line) * -2);
	margin-left: var(--lineHalf);
	padding-left: var(--lineHalf);
	margin-right: var(--line);
}
/*
.micro:not(.row) .media {
	width: calc(100% - var(--line));
	margin: 0 0 0 var(--line);
}
*/
.captionRow {
	display: flex;
	justify-content: space-between;
}
.caption {

}

.header {
	z-index: 3;
}


.download {
	display: flex;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	background: none;
	color: var(--text, #fff);
	cursor: pointer;
	min-width: var(--touch-target-min, var(--line2, 32px));
	min-height: 32px;
	justify-content: center;
	margin: 0 0 0 calc(var(--grid-base) * 2);
	padding: 0;
	position: absolute;
	right: 0px;
	padding: 0;
	margin-top: var(--pt);
}

.footer {
	z-index: 6;
}

.root .nomargin {
	margin: 0px;
	margin-bottom: 0px;
}
.root .negativemargin {
	margin: 0px;
	margin-top: calc(var(--line) * -1);
}


.row .media {
	--h: var(--line5);
	width: var(--h);
	min-height: var(--wh);
	max-height: var(--h);
	margin: 0 var(--lineHalf);
	background: none;
	z-index: 1;
	order: 4;
}
.row .metaTop {
	order: 0;
	min-width: var(--line5);
	margin: 0 var(--grid-base) calc(var(--mb) - var(--line)) 0;
	justify-content: flex-start;
	z-index: 1;
}
.row .images {
	order: 7;
}
.row .contentWrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	order: 5;
}
.row .content {
	margin: 0;
	padding: 0;
}
.row .locales {
	order: 1;
}
.row .attributions {
	margin-left: var(--line3);
	width: calc(100% - var(--grid-base) - var(--line) * 7);
	order: 2;
	z-index: 2;
}
.micro.row .contentWrapper,
.xs.row .contentWrapper {
	min-width: 240px;
}
