.root {
	position: relative;
}
.root::after {
	content: '';
	position: absolute;
	width: 100%;
	min-height: var(--line3);
}
.mapOpen { }
.label {
	margin:0;
	padding:0;
}
.fold {
  position: absolute;
	top: calc(var(--line2) + 4px);
	transition: top 0.3s linear;
	z-index: 999999;
	cursor: pointer;
}
.root:hover .fold {
	top: calc(var(--line) + 4px);
}
.expanded {
	display: none;
}
.item {
	display: flex;
	align-items: flex-start;
	font-style: normal;
	color: var(--text-muted);
	width: 100%;
	white-space: nowrap;
  overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 2;
}
.foldItem {
	--h: calc(var(--line) * 1.5);
	position: relative;
	padding: var(--pt) var(--grid-base) 0 var(--grid-base);
	width: calc(100% - var(--touch-target-min));
	height: calc(var(--line) * 1.5);
	background: linear-gradient(var(--ui-bg-muted) 0%, var(--ui-bg-muted) var(--h), var(--surface) 100%);
	background-position-y: -8px;
	background-size: 1px calc(var(--h) * 2);
	transition: transform var(--ui-dpd-1) linear, margin-top var(--ui-dpd-1) linear, background-position-y var(--ui-dpd-2) linear;
}
.root:not(:hover) .expanded:not(:checked) ~ .foldItem:nth-child(odd) {
	opacity: 0;
	background-position-y: var(--h);
	margin-top: calc(var(--line) * -1);
	transform: perspective(800px) rotateX(-70deg);
}
.root:not(:hover) .expanded:not(:checked) ~ .foldItem:nth-child(even) {
	opacity: 0;
	background-position-y: var(--h);
	margin-top: calc(var(--line2) * -1);
	transform: perspective(800px) rotateX(70deg);
}
.expanded:checked + .foldItem {
	margin-top: calc(var(--line) * -1) !important;
}
.root:hover .expanded:checked + .foldItem {
	margin-top: 0px !important;
}

.icon {
	padding: 0px;
	margin-top: -2px;
	display: inline-block;
}
.name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.moreCount {
	position: absolute;
	top: calc(var(--lineHalf) * -1);
	color: var(--text-muted);
	background: var(--paper, #333);
	border-radius: 9999px;
	min-width: var(--line);
	text-align: center;
	cursor: pointer;
	z-index: 1;
}
.mapOpen .moreCount {
	display: none;
}
.marker {
	color: var(--r-blueGrey);
	position: absolute;
	top: -0.5em;
	margin-left: -0.5em;
	z-index: 2;
}
.root:hover .icon,
.root:hover + .marker .markerIcon {
	color: var(--ui-filled, #eee) !important;
}
