.root {
	z-index: 6;
}
.column {
	padding: 0 var(--pl);
}
.row .root {
	/* margin-bottom: calc(var(--mb) - var(--line)); */
}
.root .kicker {
	margin-bottom: calc(var(--mb) - var(--line));
	color: var(--kicker);
}
.byline {
	margin-top: calc(var(--line) * -1);
	color: var(--text-muted);
}
.kicker,
.name {
	font-weight: var(--weight-semibold, 500);
}
