.root {
	z-index: 6;
}
.compact {
	--m: var(--minusLine);
	margin: var(--m) 0 var(--m) 0;
}
.column {
	padding: 0 var(--pl);
}
.column.compact {
	padding: 0 var(--p);
}
.row .root {
	/* margin-bottom: calc(var(--mb) - var(--line)); */
}
.root .kicker {
	margin-bottom: calc(var(--mb) - var(--line));
	color: var(--kicker);
}
.byline {
	margin-top: var(--minusLine);
	color: var(--text-muted);
}
.kicker,
.name {
	font-weight: var(--weight-semibold, 500);
}
