.root {
	composes: uiVar ui-transition from './_ui.m.css';
	min-height: var(--ui-wrap-h);
	position: relative;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	margin: 0 !important;
}
.xs, .s, .m, .l, .xl, .xxl { }
.sans {
	composes: sans from './_typo.css';
}
.serif {
	composes: serif from './_typo.css';
}

.inputWrapper {
	width: 100%;
	padding-left: var(--ui-border-radius-emphasized);
	padding-right: var(--ui-border-radius-emphasized);
}
.root .inputWrapper {
	margin-top: calc(var(--lineHalf) * -1);
	padding-top: var(--lineHalf);
}
.box {
	--boxTop: calc((var(--uiH) - var(--h)) / 2);
	composes: box from './_ui.m.css';
	position: absolute;
	left: 0;
	top: var(--boxTop);
	width: 100%;
	height: var(--h);
	display: inline-block;
	margin-bottom: 0;
	margin-right: var(--plr);
	border-radius: var(--ui-border-radius-emphasized);
	background-color: var(--ui-bg);
	transition: none;
	z-index: 0;
}
.select {
	position: relative;
	appearance: none;
	padding-left: var(--grid-base);
	padding-right: calc(var(--grid-base) * 6);
	border-radius: var(--ui-border-radius-emphasized);
  border: none;
  outline: none;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
	cursor: pointer;
	min-width: 100%;
	border-radius: 0;
	background-color: transparent;
	z-index: 1;
}

.select:focus {
	background-color: var(--ui-bg);
}
.select > option {
	--button-pulse: #fff;
	background-color: var(--paper);
}

.select:focus + .box {
	border: var(--ui-border-width-emphasized) solid var(--ui-focus-alpha);
}
.root .select {
	padding-top: 0;
}

.focused {
}

.arrow {
	position: absolute;
	right: var(--grid-base);
	top: var(--pt);
	z-index: 2;
}

.labelRoot {
	z-index: 10;
}

.labelActive {
}

.root .labelActive {
	top: var(--line);
}

.iconIcon {
	display: none;
}


/* Class for disabled select state */
.disabled {
	cursor: inherit;
}
/* Class for required select state */
.required {
}
