.root {
  display: grid;
  /* margin-bottom: calc(var(--line) - var(--mb)); */
}

.spaceEqual {
  padding: 0px var(--pl,0px);
}
.spaceEqual.column {
  padding: 0px var(--pr,0px) 0px var(--pl,0px);
}
.spaceLeft {
  padding: 0px 0px 0px var(--pl,0px);
}
.spaceRight {
  padding: 0px var(--pr,0px) 0px 0px;
}
.row { }

.pane,
.input {
  display: none;
}
.input:checked + .pane {
  display: grid;
  grid-template-columns: auto var(--touch-target-min, var(--line2, 32px));
}
.prev,
.next {
  position: relative;
  display: flex;
  width: var(--touch-target-min, var(--line2, 32px));
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding-top: calc(var(--pt) + var(--ui-border-width-emphasized,2px));
  cursor: pointer;
}
.prev {
	margin-right: 4px;
}
.prev::after,
.next::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--touch-target-min, var(--line2, 32px));
  left: 0;
  top: calc(var(--touch-target-min, var(--line2, 32px)) * -0.25);
}
.prev:hover,
.next:hover {
	color: var(--ui-filled, #eee);
}
.prev i,
.next i {
	vertical-align: middle;
}
