.root,
.pager {
  display: none;
}
.pager:checked + .root {
  display: grid;
  grid-template-columns: auto var(--touch-target-min, var(--line2, 32px));
}
.prev,
.next {
  position: relative;
  display: flex;
  width: var(--touch-target-min, var(--line2, 32px));
  margin: 0;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding-bottom: calc(var(--mb) + 3px);
}
.prev {
	margin-right: 4px;
}
.prev::after,
.next::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--touch-target-min, var(--line2, 32px));
  left: 0;
  top: calc(var(--touch-target-min, var(--line2, 32px)) * -0.25);
}
.prev:hover,
.next:hover {
	color: var(--ui-filled, #eee);
}
.prev i,
.next i {
	vertical-align: middle;
}
