.root {
	padding-bottom: var(--line);
}
.header {
	position: relative;
	width:100%;
	padding: 0px var(--grid-base,8px) 0px 0px;
	border-radius: 0px 0px 0px var(--ui-border-radius-emphasized);
	z-index: 2;
}
.content {
	z-index: 1;
}
.images {
	margin-bottom: calc(var(--line) * -1);
}
.mapWrapper.closed {
	display: none;
}
.topWrapper {
	flex: 1;
	align-self: stretch;
	padding-left: calc(var(--grid-base,8px) * 2);
	z-index: 9;
}
.placeMeta,
.placeStatus {
	composes: s italic serif from './_typo.css';
	display: inline-block;
	color: var(--ui-text);
}
.placeMeta {
	padding: 0px calc(var(--grid-base,8px) * 2) 0px var(--grid-base,8px);
}
.root .placeStatus {
	color: var(--text-muted);
	margin: 0px 72px calc(var(--mb) - var(--line)) calc(var(--grid-base,8px) * -2);
	padding: 0px;
}
.root .attendanceCount {
	color: var(--text-muted);
	margin: 0px var(--grid-base) 0px 0px;
}
.placeStatus > :last-child:not(:first-child) {
	margin-left: var(--grid-base,8px);
}
.statusMessage {
	display: inline-block;
	max-height: var(--line);
}
.kicker {
	composes: s from './_typo.css';
}
.featureIcons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 4px;
	top: 0px;
	min-height: var(--line2);
	max-width: var(--line4);
}
.featureIcon {
	--mtr: calc(var(--grid-base,8px) / 2);
	--wh: calc(var(--line) * 1.5 - var(--mtr));
	width: var(--wh);
	height: var(--wh);
	margin: var(--mtr) var(--mtr) 0px 0px;
	padding: var(--ui-border-width-emphasized);
}
.featureIcon.circle {
	background: var(--base, #fff);
	border-radius: 100%;
	border: var(--ui-border-width-emphasized) dotted var(--border);
}
.placeAttendance { }

.switchButtons {
	height: var(--line2);
	margin-left: calc(var(--grid-base,8px) * -2);
}
.switchButton {
	position: relative;
	min-width: calc(var(--grid-base,8px) * 6);
}
.noLocation + .switchButtons {
	display: none;
}
.switchButtons .switchButton:last-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.switchButtons .switchButton:not(:last-child) {
	border-radius: 0px;
}

.nameWrapper,
.locationWrapper {
	flex: 0;
	position:relative;
}
.moreThan2Features .nameWrapper {
	margin-right: calc(var(--line2) - (var(--grid-base,8px) * 2));
}
.topContact {
	margin-top: calc(var(--line) * -1);
}
.geoCoordinates {
	padding-left: var(--grid-base,8px);
}

.contentWrapper {
	--lt: calc(var(--line) + var(--pt));
	background: linear-gradient(transparent var(--lt), var(--bg) var(--lt));
	z-index: 9;
}
.rateWrapper {
	min-height: var(--line);
	margin-bottom: 0px;
	padding-left: var(--p, calc(var(--grid-base) * 2));
}

.imageWrapper {
	position: relative;
	width: 100%;
	min-height: calc(var(--l) * var(--line));
	margin-bottom: calc(var(--line) * -2);
	z-index: -1;
}
.imageWrapper.max {
	height: calc(var(--line) * var(--l,19));
	padding-right: var(--grid-base,8px);
}
.imageWrapper.left {
	padding-left: calc(88px + var(--grid-base,8px) * 3);
	padding-right: 0px;
}
.imageLabel {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.imagesLoaded {
	visibility: hidden;
	position: absolute;
	top: -4000px;
	height: 0px;
}
.imagesWrapper {
	margin-top: var(--line);
}
.captionWrapper { }
.imagesLoaded:checked + .imageWrapper,
.imagesWrapper {
	display: none;
}
.imagesLoaded:checked + .imageWrapper + .imagesWrapper {
	display: block;
}
.moreCount {
	composes: moreCount from './locationsDates.m.css';
}
.imageWrapper .moreCount {
	--rt: calc(var(--lineHalf) - var(--pt) - var(--ui-border-width-emphasized));
	left: auto;
	right: var(--rt);
	top: var(--rt);
	max-width: var(--line2);
	max-height: var(--line2);
	z-index: 99;
}
.imageWrapper:hover .moreCount {
	background-color: var(--ui-border-hover, #333);
}
.moreCount,
.moreCount * {
	text-align: center;
}
.root .smokeRoot {
	display: none;
}
.root .additional:hover .smokeRoot,
.root .additional:focus-within .smokeRoot {
	display: inline-block;
}
.smokeWrapper {
	animation-duration: 0s;
}
.additional:hover .smokeWrapper,
.additional:focus-within .smokeWrapper {
	animation-duration: var(--duration);
}
.additionalContent {

}
