.root {
	padding-bottom: var(--line);
	background-color: var(--bg);
}
.header {
	position: relative;
	width:100%;
	padding: 0px var(--grid-base,8px) 0px 0px;
	border-radius: 0px 0px 0px var(--ui-border-radius-emphasized);
}
.images {

}
.topWrapper {
	flex: 1;
	align-self: stretch;
	padding-left: calc(var(--grid-base,8px) * 2);
	z-index: 9;
}
.metaWrapper {
	width: 100%;
	height: var(--line2);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.success {
	composes: success from './_color.m.css';
}
.meta {
	composes: s from './_typo.css';
	color: var(--ui-text);
}
.alert {
	color: var(--text);
	font-weight: var(--weight-semibold, 500);
	padding-left: calc(var(--grid-base,8px) + 0.66em - var(--ui-border-width-emphasized));
	margin-bottom: calc(var(--mb) - var(--line));
}
.questionMark {
	display: inline-block;
	font-size: calc(var(--size) * 1.618);
	margin: 0px 0px calc(var(--size) * -0.618) 0.2ch;
	padding: 0px;
	line-height: 0px;
}
.questionStatus {
	composes: l italic serif from './_typo.css';
}
.root .questionStatus {
	color: var(--text-muted);
	height: calc(var(--line) - var(--mb));
}
.nameWrapper {
	flex: 0;
	position: relative;
	margin-right: 72px;
}
.questionWrapper {
	margin-top: var(--minusLine);
	z-index: 10;
}
.locales {
	margin-right: 72px;
}
.teaserIcon {
	composes: icon from './icon.m.css';
}
.root .teaserIcon {
	position: absolute;
	left: calc(var(--grid-base,8px) * -1);
	top: var(--line2);
	font-size: var(--line2);
	z-index: 0;
	opacity: 0.24;
	max-width: var(--line);
	overflow: hidden;
}
.teaserIcon::before {
	content: 'q';
}
.answerWrapper {
	z-index: 9;
}
.answerForm {
	opacity: 1;
	transition: opacity 60s var(--ui-easing);
}
.answerForm.closing {
	opacity: 0.32;
}
.answerLabel {
	padding-left: var(--ui-border-width-emphasized);
}
.answerChip {
	margin-top: calc(var(--pt) * -1);
	margin-bottom: calc(var(--ui-border-width-emphasized) * -2);
	font-weight: var(--weight-bold);
}
.topAnswers {

}
.noAnswer {
	composes: s italic serif from './_typo.css';
	color: var(--ui-text);
	padding-left: calc(var(--grid-base,8px) + var(--ui-border-width-emphasized));
}

.rateWrapper {
	height: var(--line);
}
.rateWrapper >:last-child {
	position: relative;
	top: 4px;
}
