.root {

}
.placeholder { }
.expanded { }
.valueExpanded { }
.focused {

}

.valid {
}

.invalid {
}

.disabled {

}

.required {

}

.trigger {

	border: 0;
	padding: 0;
	width: 100%;
}

.value {

	text-align: left;
}

.arrow {

}

.labelRoot {

	z-index: 10;
}

.labelActive {
	
}

.root .labelActive {
	top: 26px;
}

.menuWrapper {
	box-shadow: var(--mdc-theme-elevation-2);
	border-radius: var(--mdc-theme-border-radius);
	overflow: hidden;
}

.iconIcon {
	display: none;
}
