:root,
.root {
	/* stronger shadow depth */
	--sd1: rgba(0, 0, 0, 0.6);
	--sd2: rgba(0, 0, 0, 0.42);
	--sd3: rgba(0, 0, 0, 0.36);

	--disabledAlpha: 0.72;
	--pulseAlpha: 0.64;
	--surface: #000;
	--bg: var(--r-dark);

	--text: var(--full-white);
	--text-flat: var(--m-400);
	--text-flat-hover: var(--m-50);
	--text-filled: #f9f9f9;
	--text-filled-hover: var(--full-white);
	--text-colored: #ffaf00;
	--text-shaped: var(--m-a400);
	--text-shaped-hover: var(--full-white);

	--text-muted: rgba(255, 255, 255, 0.64);
	--text-disabled: rgba(255, 255, 255, 0.32);
	--text-selected: rgba(255, 255, 255, 0.96);
	--text-icon: var(--off-white);
	--text-inverse: var(--full-black);
	--text-inverse-muted: var(--off-black);
	--text-off: #333;
	--highlight: #474747;
	--highlight-muted: #3d3d3d;
	/*-------------------
      Accent Colors
  --------------------*/
	--ui-kicker: #e53e8d;
	--ui-nut: #7a95a9;

	--ui-status: var(--full-black);
	--ui-menu: #373a3e;
	--ui-bg: #2f3338;
	--ui-bg-muted: #303030;
	--ui-bg-hover: var(--m-900);
	--ui-bg-inverse: rgba(255, 255, 255, 0.88);
	--ui-bg-inverse-muted: var(--m-100);
	--ui-bg-inverse-hover: var(--full-white);

	--ui-disabled: hsl(var(--m-h), var(--m-s), 20%);
	--ui-flat-hover: hsl(var(--m-h900), var(--m-s), 32%);
	--ui-flat-off: hsl(var(--m-h900), 100%, 40%); /*var(--m-900);*/
	--ui-flat-on: var(--m-700);

	--ui-filled: var(--m-800);
	--ui-filled-hover: var(--m-700);
	--ui-filled-off: var(--m-800);
	--ui-filled-on: var(--m-600);

	--ui-border: var(--m-800);
	--ui-border-hover: var(--m-900);
	--ui-outline: var(--m-600);
	--ui-outline-hover: var(--m-400);

	--ui-focus: #dfdc00;
	--ui-focus-alpha: rgba(223, 220, 0, 0.618);
	--ui-accent: var(--m-a400);
	--ui-flat-accent: var(--m-a700);

	--ui-track: rgba(255, 255, 255, 0.16);
	--ui-opacity: 0.24;
	--ui-opacity-strong: 0.4;
	--native-input: var(--off-white);
	--native-input-text: var(--full-black);
	--ui-menu-border: rgba(0, 0, 0, 0.24);
	--ui-fill-text: var(--full-black);

	/*---   Emotive defaults  ---*/
	--ui-info: #4197e7;
	--ui-success: #95cc0d;
	--ui-warning: #ffbb1d;
	--ui-error: #ff3a23;
	--ui-public: #dfdc00;
	--ui-group: #ffaf00;
	--ui-private: #eb2f59;
	--ui-open: rgba(192, 192, 0, 0.24);
	--ui-close: rgba(200, 31, 88, 0.24);
}

:root {
	color: var(--text);
	background-color: var(--bg);
}

/*-------------------
    Text Colors
--------------------*/
/*
.lightText,
.primary,
.secondary,
.settings,
.info,
.warning,
.error,
.success,
.neutral {
  --text                : var(--full-white);
  --text-muted          : rgba(255, 255, 255, 0.64);
  --text-disabled       : rgba(255, 255, 255, 0.32);
  --text-selected       : rgba(255, 255, 255, 0.96);
  --text-icon           : var(--off-white);
  --text-off            : var(--off-black);
  --ui-off              : rgba(255, 255, 255, 0.32);
  --ui-disabled         : rgba(255, 255, 255, 0.12);
  --ui-track            : rgba(255, 255, 255, 0.16);
  --ui-opacity          : 0.24;
  --ui-opacity-strong   : 0.4;
  --native-input        : var(--off-white);
  --native-input-text   : var(--full-black);
}

.colored {
  --bg                : var(--m-800);
  --ui-border         : var(--m-400);
  --ui-outline        : var(--m-400);
  --ui-bg             : var(--m-700);
  --ui-colored-inner  : rgba(255, 255, 255, 0.88);
  --ui-fill           : var(--m-500);
  --ui-fill-text      : var(--full-white);
  --ui-hover-border   : var(--m-800);
  --ui-hover          : var(--m-800);
  --ui-accent         : var(--m-a400);
  --ui-flat           : var(--m-100);
  --ui-highlight      : var(--m-400);
  --ui-highlight-muted: var(--m-500);
  --ui-status         : var(--off-black);
  --ui-menu           : var(--m-900);
  --ui-full           : var(--m-500);
  --ui-header         : var(--m-50);
  --ui-focus          : var(--m-a400);
  --ui-selected       : var(--m-900);
  --ui-selected-grey  : var(--m-500);
  --color-baseline 	  : rgba(255, 255, 255, 0.12);
  --color-baseline-xl : rgba(100, 255, 100, 1);
} */
