@import 'https://js.arcgis.com/4.16/esri/themes/dark/main.css';
.root {
	--base: #000;
	/* stronger shadow depth */
	--sd1: rgba(0, 0, 0, 0.6);
	--sd2: rgba(0, 0, 0, 0.42);
	--sd3: rgba(0, 0, 0, 0.36);

	--mutedAlpha: 0.8;
	--disabledAlpha: 0.72;
	--pulseAlpha: 0.64;
	--surface: #121212;

	--bg: var(--r-dark, #1c191b);
	--paper: #252525;
	--sticker: #303030;

	--text: var(--full-white, #fff);
	--text-flat: var(--m-400);
	--text-flat-hover: var(--m-50);
	--text-colored: #ffaf00;
	--text-shaped: var(--m-a400);
	--text-shaped-hover: var(--full-white);

	--text-muted: rgba(255, 255, 255, 0.64);
	--text-disabled: rgba(255, 255, 255, 0.32);
	--text-selected: rgba(255, 255, 255, 0.96);
	--text-icon: var(--off-white);
	--text-inverse: var(--full-black);
	--text-inverse-muted: var(--off-black);
	--text-off: #333;
	--highlight: #474747;
	--highlight-muted: #3d3d3d;
	/*-------------------
      Accent Colors
  --------------------*/
	--kicker: #ff0097;
	--kicker-muted: #c30c70;
	--nut: #7a95a9;
	--link: #07daf8;
  --link-hover: #33c3de;
  --link-active: #00f2f8;
	--mention: #ffaf00;
  --mention-hover: #ffb200;
  --mention-active: #ffc639;
	--hashtag: var(--r-primary, #ff7a00);
	--hashtag-hover: #fd7002;
	--hashtag-active: #fd7002;
	--border: #444a52;
	--border-muted: var(--full-black);
	--border-hover: #525252;
	--border-focus: var(--m-100);

	--ui-bg: #2f3338;
	--ui-bg-muted: #373a3e;
	--ui-bg-hover: var(--off-black);
	--ui-bg-inverse: var(--full-white);
	--ui-bg-inverse-muted: #ccc;
	--ui-bg-inverse-hover: var(--off-white);
	--ui-bg-opaque: rgba(0, 0, 0, 0.618);

	--ui-header: #242629;
	--ui-menu: #373a3e;
	--ui-status: var(--full-black);
	--ui-disabled: hsl(var(--m-h), var(--m-s), 20%);
	--ui-empty: rgba(255, 255, 255, 16%);
	--ui-accent: var(--m-a400);
	--ui-text: var(--m-400);
	--ui-text-muted: var(--m-500);
	--ui-focus: #dfdc00;
	--ui-focus-muted: #a3a500;
	--ui-focus-alpha: rgba(223, 220, 0, 0.618);

	--ui-flat-empty: hsla(var(--m-h900), var(--m-s), var(--m-l), 24%);
  --ui-flat-hover: var(--m-800, hsla(var(--m-h900), var(--m-s), var(--m-l), 64%));
	--ui-flat-off: hsla(var(--m-h900), var(--m-s), var(--m-l), 50%);
	--ui-flat-on: var(--m-400, hsla(var(--m-h900), var(--m-s), var(--m-l), var(--ui-dp-l-8)));
	--ui-flat-accent: var(--m-a200, hsl(var(--m-h), var(--m-s), var(--ui-dp-l-4)));
	--ui-flat-border: #3b4047;

	--ui-filled: var(--m-600, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l-8))));
	--ui-filled-empty: var(--m-dark, var(--bg));
	--ui-filled-hover: var(--m-700, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l))));
	--ui-filled-off: var(--m-800, hsla(var(--m-h), var(--m-s), 100%, var(--ui-dp-l)));
	--ui-filled-on: var(--m-500, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l-12))));
	--text-filled: var(--ui-fill-text, #f9f9f9);
	--text-filled-hover: var(--ui-fill-text, var(--full-white, #fff));

	--ui-border: var(--m-800, hsl(var(--m-h), var(--m-s), calc(100% - var(--ui-dp-l))));
	--ui-border-hover: var(--m-900, hsl(var(--m-h), var(--m-s), calc(100% - var(--ui-dp-l-24))));
	--ui-outline: var(--m-600, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l-16))));
	--ui-outline-hover: var(--m-400, var(--full-white, #fff));

	--ui-track: rgba(255, 255, 255, 0.16);
	--ui-opacity: 0.24;
	--ui-opacity-strong: 0.4;
	--native-input: var(--off-white);
	--native-input-text: var(--full-black);
	--ui-menu-border: rgba(0, 0, 0, 0.24);

	/*---   Emotive defaults  ---*/
	--ui-info: #4197e7;
	--ui-success: #95cc0d;
	--ui-warning: #ffbb1d;
	--ui-error: #ff3a23;
	--ui-public: #dfdc00;
	--ui-group: #ffaf00;
	--ui-private: #eb2f59;
	--ui-open: rgba(192, 192, 0, 0.24);
	--ui-close: rgba(200, 31, 88, 0.24);

	color: var(--text);
/*
	background-color: var(--bg);
*/
}

::selection {
  background: #a40057;
}

/*-------------------
    Text Colors
--------------------*/
/*
.lightText,
.primary,
.secondary,
.settings,
.info,
.warning,
.error,
.success,
.neutral {
  --text                : var(--full-white);
  --text-muted          : rgba(255, 255, 255, 0.64);
  --text-disabled       : rgba(255, 255, 255, 0.32);
  --text-selected       : rgba(255, 255, 255, 0.96);
  --text-icon           : var(--off-white);
  --text-off            : var(--off-black);
  --ui-off              : rgba(255, 255, 255, 0.32);
  --ui-disabled         : rgba(255, 255, 255, 0.12);
  --ui-track            : rgba(255, 255, 255, 0.16);
  --ui-opacity          : 0.24;
  --ui-opacity-strong   : 0.4;
  --native-input        : var(--off-white);
  --native-input-text   : var(--full-black);
}

.colored {
  --bg                : var(--m-800);
  --ui-border         : var(--m-400);
  --ui-outline        : var(--m-400);
  --ui-bg             : var(--m-700);
  --ui-colored-inner  : rgba(255, 255, 255, 0.88);
  --ui-fill           : var(--m-500);
  --ui-fill-text      : var(--full-white);
  --ui-hover-border   : var(--m-800);
  --ui-hover          : var(--m-800);
  --ui-accent         : var(--m-a400);
  --ui-flat           : var(--m-100);
  --ui-highlight      : var(--m-400);
  --ui-highlight-muted: var(--m-500);
  --ui-status         : var(--off-black);
  --ui-menu           : var(--m-900);
  --ui-full           : var(--m-500);
  --ui-header         : var(--m-50);
  --ui-focus          : var(--m-a400);
  --ui-selected       : var(--m-900);
  --ui-selected-grey  : var(--m-500);
  --color-baseline 	  : rgba(255, 255, 255, 0.12);
  --color-baseline-xl : rgba(100, 255, 100, 1);
} */
