.root {
	--disabledAlpha: 0.72;
	--pulseAlpha: 0.64;
	--surface: #d6d6d6;
	--m-h: 0;
	--m-s: 0%;
  --ui-dp-l-1: 89%;
  --ui-dp-l-2: 91%;
  --ui-dp-l-3: 92%;
  --ui-dp-l-4: 93%;
  --ui-dp-l-6: 95%;
  --ui-dp-l-8: 96%;
  --ui-dp-l-12: 98%;
  --ui-dp-l-16: 99%;
  --ui-dp-l-24: 100%;
	--bg: var(--m-50);
	--paper: #faf8f7;

	--text: rgba(0, 0, 0, 0.92);
	--text-flat: var(--m-400);
	--text-flat-hover: var(--m-50);
	--text-colored: #ff2800;
	--text-shaped: var(--m-a600);
	--text-shaped-hover: var(--full-black);

	--text-muted: rgba(0, 0, 0, 0.56);
	--text-disabled: rgba(0, 0, 0, 0.28);
	--text-selected: #3c5768;
	--text-icon: var(--off-black);
	--text-inverse: var(--full-white);
	--text-inverse-muted: var(--off-white);
	--text-off: #d6d6d6;
	--highlight: var(--full-white);
	--highlight-muted: var(--off-white);
	/*-------------------
      Accent Colors
  --------------------*/
	--kicker: #b30063;
	--kicker-muted: #96004b;
	--nut: #546f82;
	--link: #00b1cc;
  --link-hover: #07daf8;
  --link-active: #00f2f8;
	--mention: #339985;
  --mention-hover: #56ebaf;
  --mention-active: #83ffd5;
	--hashtag: #94afc4;
	--hashtag-hover: #6f97d7;
	--hashtag-active: #e0fdff;
	--border: #adadad;
	--border-muted: #e7e6e2;
	--border-hover: #e0e0e0;
	--border-focus: var(--m-200);

	--ui-bg: var(--full-white);
	--ui-bg-muted: #cccccc;
	--ui-bg-hover: var(--off-white);
	--ui-bg-inverse: #2f3338;
	--ui-bg-inverse-muted: #303030;
	--ui-bg-inverse-hover: var(--full-black);
	--ui-bg-opaque: rgba(255, 255, 255, 0.618);

	--ui-header: #d6d6d6;
	--ui-menu: var(--m-100);
	--ui-status: var(--m-300);
	--ui-disabled: rgba(0, 0, 0, 0.12);
	--ui-empty: rgba(0, 0, 0, 0.24);
	--ui-accent: #ff7a00;
	--ui-text: var(--m-600);
	--ui-focus: #c30c70;
	--ui-focus-alpha: rgba(195, 12, 112, 0.8);

	--ui-flat-empty: hsla(var(--m-h), var(--m-s), 100%, 24%);
	--ui-flat-hover: var(--m-300, hsla(var(--m-h), var(--m-s), 100%, var(--ui-dp-l-6)));
	--ui-flat-off: var(--m-200, hsla(var(--m-h), var(--m-s), 100%, var(--ui-dp-l-4)));
	--ui-flat-on: var(--m-400, hsla(var(--m-h), var(--m-s), 100%, var(--ui-dp-l-8)));
	--ui-flat-accent: #ffa754;
	--ui-flat-border: #f5f4f0;

	--ui-filled: var(--m-500, hsl(var(--m-h), var(--m-s), calc(100% - var(--ui-dp-l-8))));
	--ui-filled-empty: var(--m-300, hsla(var(--m-h), var(--m-s), 100%, var(--ui-dp-l-6)));
	--ui-filled-hover: var(--m-700, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l))));
	--ui-filled-off: var(--m-700, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l))));
	--ui-filled-on: var(--m-500, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l-16))));
	--text-filled: var(--ui-fill-text, #f9f9f9);
	--text-filled-hover: var(--ui-fill-text, var(--full-white, #fff));

	--ui-border: var(--m-800, hsl(var(--m-h), var(--m-s), calc(100% - var(--ui-dp-l))));
	--ui-border-hover: var(--m-900, hsl(var(--m-h), var(--m-s), calc(100% - var(--ui-dp-l-24))));
	--ui-outline: var(--m-600, hsla(var(--m-h), var(--m-s), 100%, calc(100% - var(--ui-dp-l-16))));
	--ui-outline-hover: var(--m-800, var(--full-black, #000));

	--ui-track: rgba(0, 0, 0, 0.16);
	--ui-opacity: 0.16;
	--ui-opacity-strong: 0.32;
	--native-input: var(--full-white);
	--native-input-text: var(--full-black);
	--ui-menu-border: rgba(0, 0, 0, 0.16);

	/*---   Emotive  ---*/
	--ui-info: #0d7ecc;
	--ui-success: #95cc0d;
	--ui-warning: #ffaf00;
	--ui-error: #dc0005;

	/*---   Emotive defaults  ---*/
	--ui-info: #4197e7;
	--ui-success: #95cc0d;
	--ui-warning: #ffbb1d;
	--ui-error: #ff3a23;
	--ui-public: #95cc0d;
	--ui-group: #ff7a00;
	--ui-private: #eb2f59;
	--ui-open: rgba(192, 192, 0, 0.618);
	--ui-close: rgba(200, 31, 88, 0.618);

	color: var(--text);
	background-color: var(--bg);
}

.light.primary,
.light.secondary,
.settings,
.info,
.warning,
.error,
.success,
.neutral {
	--ui-border: var(--m-500);
	--ui-outline: var(--m-600);
	--ui-bg: var(--m-700);
	--ui-fill: var(--m-700);
	--ui-fill-text: var(--full-white);
	--ui-hover-border: var(--m-900);
	--ui-hover: var(--m-800);
	--ui-accent: var(--m-a400);
	--ui-flat: var(--m-100);
	--ui-flat-accent: var(--m-a200);
}

::selection {
  background: #a40057;
}
