@import './theme/material/_typo.css';
.debugBaseLine {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(var(--color-baseline), var(--color-baseline) 1px, transparent 1px);
  background: linear-gradient(var(--color-baseline), var(--color-baseline) 1px, transparent 1px);
  background-size: 1px calc(1rem * var(--base-line));
  background-position: 0px 0.5px;
	z-index: 9999;
	user-select: none;
	pointer-events: none;
	opacity: 0;
}
#app > input {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9000;
}
.debug > .debugBaseLine,
input:checked + .debugBaseLine {
	opacity: 1;
}

.flexRow {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
